.alphabet-full {
  display: none;

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(5, auto);
    row-gap: 52px;
    column-gap: 30px;

    width: 100%;
    margin-bottom: 50px;
  }
}

.alphabet-full__desc {
  @media (min-width: 1440px) {
    display: inline-block;

    margin-bottom: 26px;

    text-transform: uppercase;

    @include font(700, normal);
    @include font-size(60px, 60px);
    color: $blue-high;
  }
}

.alphabet-full__names {
  margin: 0;
  padding: 0;
  border: 0;

  @include font();
  @include font-size(20px, 30px);
  color: $black-low;
}

.alphabet-full__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.alphabet-full__checkbox:hover + .alphabet-full__country {
  color: $blue-middle;
}

.alphabet-full__checkbox:checked + .alphabet-full__country {
  opacity: 0.3;
}

.alphabet-full__country {
  cursor: pointer;
}
