.alphabet__letters {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  border: none;

  text-transform: uppercase;
}

.alphabet__letters-list,
.alphabet__names-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.alphabet__table {
  width: 100%;
  border-collapse: collapse;
}

.alphabet__letters-item {
  width: 20%;
  padding: 0;
  border: 1px solid $gray-light;

  text-align: center;

  line-height: 40px;
  background-color: $white-middle;
}

.alphabet__letters-letter {
  display: block;
  cursor: pointer;
  color: $blue-middle;
}

.alphabet__letters-item:hover {
  border: 1px solid #959BB2;
}

.alphabet__letters-item:active {
  border-color: $blue-middle;
  background-color: $blue-middle;
  color: white;
}

.alphabet__letters-item:active .alphabet__letters-desc {
  color: white;
}

.alphabet__names {
  margin: 0;
  padding: 0;
  border: none;

  color: $black-low;
}

.alphabet__names-checkbox:hover + .alphabet__names-desc {
  color: $blue-middle;
}

.alphabet__names-checkbox:checked + .alphabet__names-desc {
  opacity: 0.3;
}
