.plans-actual {
  position: relative;

  padding-top: 28px;
  padding-bottom: 60px;

  background-color: $main-bg-second;

  @media (min-width: 768px) {
    padding-top: 57px;
    padding-bottom: 106px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 119px;
  }
}

.plans-actual__title-second {
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.plans-actual__list {
  margin: 0;
  padding: 0;
}

.plans-actual__item {
  padding: 22px 25px;
  border-radius: 10px;

  list-style-type: none;

  &:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: 1440px) {
      margin-bottom: 13px;
    }
  }

  @include environment-white-middle;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 40px 35px 15px;

    &::after {
      position: absolute;
    }
  }

  @media (min-width: 1440px) {
    align-items: center;
    padding: 38px 43px;
  }
}

.plans-actual__row {
  display: flex;

  margin-bottom: 20px;

  @include font(700, normal);
  @include font-size;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    width: 100%;
    margin-bottom: 53px;

    @include font-size(24px, 24px);
  }

  @media (min-width: 1440px) {
    flex-direction: row;
    justify-content: flex-start;

    width: auto;
    margin-bottom: 0;
  }
}

.plans-actual__number,
.plans-actual__name {
  margin: 0;
}

.plans-actual__number {
  margin-right: 7px;

  @media (min-width: 768px) {
    margin: 0;
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    margin-right: 35px;
  }
}

.plans-actual__wrap {
  margin-bottom: 24px;

  text-transform: uppercase;

  @include font(500, normal);
  @include font-size(14px, 14px);

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    margin: 0;

    @include font-size(20px, 20px);
  }

  @media (min-width: 1440px) {
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.plans-actual__desc {
  margin: 0;

  letter-spacing: 0.06em;

  &:not(:last-child) {
    margin-bottom: 4px;

    @media (min-width: 768px) {
      margin: 0;

      letter-spacing: 0.1em;
    }

    @media (min-width: 1440px) {
      margin-right: 40px;
    }
  }
}

.plans-actual__btn-correct {
  display: inline-block;

  padding: 0;

  text-transform: uppercase;

  @include font(500, normal);
  @include font-size(14px, 14px);
  color: $black-middle;
  opacity: 0.3;
  letter-spacing: 0.1em;

  @media (min-width: 768px) {
    margin-left: 95px;
    text-align: right;

    @include font-size(20px, 20px);
    letter-spacing: 0.08em;
  }

  @media (min-width: 1440px) {
    margin-left: 137px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
