// COLORS

$blue-dark: #161C35;
$blue-dark-two: #121936;
$blue-high: #192144;
$blue-middle: #1D2E5B;
$blue-middle-two: #132576;
$blue-light: #F3F4F8;
$blue-light-two: #DFE3F0;
$blue-light-three: #D6DAED;
$white-dirty: #EDEFF6;
$white-dirty-two: #E2E5F2;
$white-middle: #ffffff;
$gray-middle: #CCCCCC;
$gray-light: #CBCED9;
$gray-light-two: #F2F2F2;
$black-middle: #000000;
$black-low: #444444;
$black-light: rgba(29, 46, 91, 0.14);
$yellow-low: #FFD74B;
$orange-middle: #FF8D30;
$orange-middle-two: #FFA530;
$yellow-middle: #FFBD30;

$status-offline: #F97676;
$status-online: #81E31E;

$main-bg-first: $white-dirty;
$main-bg-second: #DFE3F0;
$main-bg-third: #D4D9EB;

$separator-line: #F3C72B;
$separator-line-two: #E1E3E9;
