extends ../main

block variables
	- var pageIndex = true
	- var pageTitle = 'Погнали: Главная'
	- var firstTitle = 'О сервисе'

block main
	main.main-index
		.container
			.main-index__inner-wrapper
				// ABOUT-US
				section.about-us.main-index__about-us
					p.paragraph Лучшее приложение, что я видел в жизни!
					p.paragraph.paragraph_weight--bold Мурат Эльтазин главный редактор газеты "гаджетлайф"
					ol.process.about-us__process
						li.process__step.process__step--first Выберите направление
						li.process__step.process__step--second Изучите идеи путешественников
						li.process__step.process__step--third Находите тех, кто похож на вас
						li.process__step.process__step--fourth Путешествуйте вместе!
					h2.title-second.about-us__title-second О сервисе
					p.paragraph Любое путешествие веселее с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих.
					p.paragraph.paragraph_weight--bold А если найдете кого-то близкого по духу — скорее зовите в совместный трип!
				// ABOUT-US //
				// DIRECTIONS
				section.directions.main-index__directions
					h2.title-second.directions__title-second Направления
					p.paragraph Мы не продаем туры и ничего не рекламируем. Люди сами пишут о странах, куда хотели бы отправиться и чем можно там заняться.
					.directions__countrys-wrapper
						include ../modules/country-cards/country-card--thailand
						include ../modules/country-cards/country-card--france
						include ../modules/country-cards/country-card--chezh
					a.btn.btn_form--square.btn_color--yellow.main-index__btn(href=".directions.html") Показать все
				// DIRECTIONS //
				// COMPANIONS
				section.companions.main-index__companions
					h2.title-second.companions__title-second Попутчики
					p.paragraph Все мы индивидуальны и у каждого свой взгляд на идеальный отдых. Одному нужен пляж и коктейль, а другому маршрут для хайкинга.
					p.paragraph.paragraph_weight--bold Теперь можно легко найти единомышленников!
					.companions__users-wrapper
						include ../modules/user-cards/user-card__tatyana-firsova/user-card--short--tatyana-firsova
						include ../modules/user-cards/user-card__petya-demin/user-card--short--petya-demin
					a.main-index__btn.btn.btn--square(href=".companions.html") Показать всех
				// COMPANIONS //
				// ADVERTISING
				section.advertising.main-index__advertising
					h2.title-second.advertising__title-second Бизнес-тарифы
					.advertising__row
						p.advertising__moto Добавьте свой профиль
						img.advertising__profile-icon
					ol.advertising-list
						li.advertising-item
							.advertising-item__wrapper
								p.advertising-item__option Базовое размещение
								p.advertising-item__price Бесплатно
							.advertising-item__number.btn--round 1
						li.advertising-item
							.advertising-item__wrapper
								p.advertising-item__option Вывод на первых позициях
								p.advertising-item__price 99 руб./мес
							.advertising-item__number.btn--round 2
						li.advertising-item
							.advertising-item__wrapper
								p.advertising-item__option Кастомный цвет карточки
								p.advertising-item__price 59 руб./мес
							.advertising-item__number.btn--round 2
					button.advertising__button Показать тарифы для бизнеса
				// ADVERTISING //
				// CHECK-IN
				section.check-in.main-index__check-in
					h2.visually-hidden Раздел регистрации
					p.title-second.check-in__title-second Заинтересовались?
					p.paragraph
						| Зарегистрируйтесь, это быстро и бесплатно! Уже зарегистрированы? Тогда скорее 
						a.check-in__link(href="#") авторизуйтесь
						|.
					form.check-in__email-form.btn--square(action="https://echo.htmlacademy.ru" method="post")
						span.visually-hidden Форма ввода личных данных для входа (почта)
						input.input(type="email" name="login" placeholder="E-mail" required)
						button.email-form__btn.btn.btn--square(type="submit")
							svg
					p.paragraph.
						Остались вопросы?
						Мы с радостью на них ответим!
					.check-in__contacts.contact-us
						.contact-us__wrapper.phone
							a.contact-us__call(href="tel:+78005558628")
								svg
								span.visually-hidden Позвонить
							span.contact-us__desc 8 800 555-86-28
						.contact-us__wrapper.email
							a.contact-us__text(href="#")
								svg
								span.visually-hidden Написать
							span.contact-us__desc mail.@htmlacademy.ru
				// CHECK-IN //
				// ADRESS
				section.adress.main-index__adress
					h2.visually-hidden Раздел адреса и карты
					.adress__desc
						.adress__desc-wrapper
								.adress__desc__icon
									svg
									span.visually-hidden Метка
								span.adress__desc__adress ул. Большая Конюшенная, 19/8
						a.adress__desc__btn.btn.btn--square(href="#") Проложить маршрут
					.adress__map#map
				section.adress.main-index__adress
					h2.visually-hidden Раздел адреса и карты
					.adress__desc
						.adress__desc-wrapper
								.adress__desc__icon
									svg
									span.visually-hidden Метка
								span.adress__desc__adress ул. Большая Конюшенная, 19/8
						a.adress__desc__btn.btn.btn--square(href="#") Проложить маршрут
					.adress__map#map
				// ADRESS //