extends ../user-plans

block variables
	- var userName = 'Марк Смолов'
	- var userClass = 'mark-smolov'
	- var planCounter = ['1', '2']
	- var direction = {1: 'Франция, Италия', 2: 'Таиланд, Индонезия'}
	- var companion = {1: '3 попутчика', 2: '1 попутчик'}
	- var period = {1: '26 МАР - 29 МАР', 2: '1 ИЮЛ - 15 ИЮЛ'}