extends ../user-card--short

block variables
	- var userName = 'Марк Смолов'
	- var userClass = 'mark-smolov'
	- var skillNumber = '25'
	- var tags = ['рэп', 'тату', 'хайпбист', 'кроссовки', 'суприм']