extends ../user-card--short

block variables
	- var userName = 'Марк Смолов'
	- var userStatus = 'user-status--offline'
	- var userClass = 'mark-smolov'
	- var likeCounter = '170'
	- var skillNumber = '25'
	- var likes = ['рэп', 'тату', 'хайпбист', 'кроссовки', 'суприм']
	- var wishes = ['сша', 'австралия', 'доминикана']