footer.footer
	.container
		.footer__inner-wrapper
			a.logo.footer__logo(href="#")
				img(src="#" alt="Логотип сервиса" width="100" height="15")
			include ../social/footer__social
			.creator.footer__creator
				h2.visually-hidden Раздел об авторе сайта
				p.creator__desc Сделано
				a.creator__logo(href="#")
					img(src="#" width="27" height="33" alt="Логотип создателя сайта")