extends ../user-card--full

block variables
	- var userName = 'Лариса Роговая'
	- var userClass = 'larisa-rogovaya'
	- var likeCounter = '23'
	- var skillNumber = '50'
	- var likes = ['образование', 'карьера', 'учеба', 'линкедин']
	- var wishes = ['великобритания', 'германия']