extends ../user-card--middle

block variables
	- var userName = 'Лариса Роговая'
	- var userStatus = 'user-status--online'
	- var userClass = 'larisa-rogovaya'
	- var likeCounter = '23'
	- var skillNumber = '50'
	- var tags = ['образование', 'карьера', 'учеба', 'линкедин']
	- var wishes = ['великобритания', 'германия']