.companions{
  position: relative;

  padding-top: 86px;
  padding-bottom: 45px;

  @include environment-blue;
}

.companions__title-second{
  margin-bottom: 19px;
}

.companions__users-wrap{
  margin-top: 54px;
  margin-bottom: 20px;
}

.user-card:not(:last-child){
  margin-bottom: 9px;
}

.companions__btn{
  line-height: 61px;
  text-transform: uppercase;
  text-align: center;
}
