.main-companions{
  position: relative;
	min-width: 320px;
  margin: 0 auto;
}

.companions__filter-countries{
  position: relative;
  transform: translateY(-30px);
  z-index: 1;

  @include shape-bottom;
}

.main-companions__content-wrap{
  transform: translateY(-60px);

  padding-top: 51px;
  padding-bottom: 76px;
  background-color: $white-dirty;
}

.main-companions + .footer{
  transform: translateY(-90px);
}

// companions__filter-users

.companions__filter-users{
  padding-top: 26px;
  padding-bottom: 22px;
  margin-bottom: 28px;
  border-radius: 20px;
  @include environment-yellow;
}

.companions__filter-users .title-third{
  width: 40%;
}

.filter-users__title-third{
  margin-bottom: 23px;
}

.box{
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  border: none;
  border-top: 1px solid $separator-line;
}

.box-level{
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid $separator-line;
}

.box__heading-wrap,
.box-level__heading-wrap{
  display: flex;
  justify-content: space-between;

  @include font(500, normal);
  text-transform: uppercase;
}

.box-level__heading-wrap{
  width: 100%;
}

.box__heading-wrap .title-third,
.box-level__heading-wrap .title-third{
  line-height: 40px;
}

.box__btn,
.box-level__btn{
  padding: 0;
  line-height: 41px;
}

.box__btn img,
.box-level__btn img{
  transform: rotate(90deg);
}

.box-level__number{
  display: flex;
}

.box-level__min-level,
.box-level__max-level{
  width: 50%;
}

.box-level__value input{
  width: 100%;
}

.box-level__line{
  margin-bottom: 21px;
}

.btn.users-form__btn{
  line-height: 41px;
  width: 100%;
}

.users-form__btn{
  padding: 0;
  border: none;
  @include font(bold, normal);
  @include font-size(17px, 17px);
  text-align: center;
  text-transform: uppercase;
}

// .step-first__clicker,
// .step-first__additional,
// .step-first__month {
//   margin: 0;
//   padding: 0;
//   border: none;
// }

// .step-first__clicker{
//   margin-bottom: 20px;
// }

// .step-first__clicker-wrap{
//   display: flex;
//   justify-content: space-between;

//   margin-bottom: 8px;

//   @include font(500, normal);
//   text-transform: uppercase;
// }

// companions__users-wrap



.box__value-list{
  margin: 0;
  padding: 0;
}

.box__value-item{
  list-style-type: none;
}

.companions__users-wrap{
  margin-bottom: 22px;
}
