.social{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.social__link{
  position: relative;

  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.social__link svg{
  @include zero-centered;

  width: 23px;
  height: 21px;

  color: $blue-high;
}

.social__link__color--orange{
  background-color: $yellow-low;
}
