.user-box{
  position: relative;

  padding-top: 54px;
  padding-bottom: 64px;

  background-color: $main-bg-first;
}

.user-box__row{
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
  padding-bottom: 18px;
}

.user-box__skill {
  width: 100px;
  height: 100px;
}

.user-box__tags-wrap,
.user-box__moves-wrap{
  position: relative;

  border: 1px solid $gray-light;
  @include shape-top(10px);
  @include shape-bottom(10px);
}

.user-box__title-fourth{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0 18px;

  background-color: $main-bg-first;
  text-align: center;
}

.user-box .btn{
  @include font(500, normal);
  @include font-size(20px, 40px);
  background-color: $blue-light-two;
  text-transform: uppercase;
  text-align: center;
}
