.calendar__days-list,
.calendar__dates-list {
  display: grid;
  grid-template-columns: repeat(7, 14.2857%);
  grid-auto-rows: 32px;

  margin: 0;
  padding: 0;
}

.calendar__days-list {
  grid-auto-rows: 32px;

  @media (min-width: 768px) {
    grid-auto-rows: 36px;
  };

  @media (min-width: 1440px) {
    grid-auto-rows: 56px;
  };
}

.calendar__dates-list {
  grid-auto-rows: 32px;

  @media (min-width: 768px) {
    grid-auto-rows: 69px;
  };

  @media (min-width: 1440px) {
    grid-auto-rows: 71px;
  };
}

.calendar__days-item {
  list-style-type: none;
  text-align: center;

  @include font;
  @include font-size(14px, 32px);
  color: $black-low;

  @media (min-width: 768px) {
    @include font-size(18px, 36px);
  };

  @media (min-width: 1440px) {
    text-align: left;
    padding-left: 15px;
    line-height: 56px;
  };

  &--red {
    color: $red-middle;
  }
}

.calendar__days-desc-min,
.calendar__days-desc-max {
  margin: 0;
  padding: 0;
}

.calendar__days-desc-min {
  @media (min-width: 768px) {
    display: none;
  };
}

.calendar__days-desc-max {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  };
}

.calendar__dates-item {
  outline: 1px solid $gray-light-three;

  list-style-type: none;
  text-align: center;

  @include font;
  @include font-size(14px, 32px);
  color: $black-low-two;

  @media (min-width: 768px) {
    @include font-size(18px, 69px);
  };

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include font-size(18px, 18px);
    text-align: left;
    padding-left: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
  };

  &--colored {
    @include environment-white ($white-dirty, $blue-middle);
    font-weight: 500;
  };

  &--active {
    @include environment-blue-middle;
    font-weight: 500;
  };

  &--start {
    outline: 2px solid #FF5C23;
    z-index: 1;
  }
}

.calendar__dates-item--colored {
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 20px;
  };

  @media (min-width: 1440px) {
    font-weight: 400;
    justify-content: space-between;
  };
}

.calendar__dates-value,
.calendar__dates-status {
  margin: 0;

  @media (min-width: 1440px) {
    // line-height: 18px;
  };
}

.calendar__dates-status--start,
.calendar__dates-status--finish {
  display: none;
}

.calendar__dates-item--start {
  & .calendar__dates-status--start {
    @media (min-width: 1440px) {
      display: inline;
    };
  }
}

.calendar__dates-item--finish {
  & .calendar__dates-status--finish {
    @media (min-width: 1440px) {
      display: inline;
    };
  }
}
