.plans-create {
  position: relative;

  padding-top: 30px;
  padding-bottom: 73px;

  background-color: $main-bg-third;

  @media (min-width: 768px) {
    padding-top: 53px;
    padding-bottom: 118px;
  };
}

.plans-create .container-outter {
  @media (min-width: 1440px) {
    padding-left: 0;
  };
}

.plans-create__title-second {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    margin-bottom: 56px;
  };
}

.plans-create__title-wrap {
  @media (min-width: 1440px) {
    display: flex;
  };
}

.plans-create__title-wrap .title-sixth:first-child {
  @media (min-width: 1440px) {
    margin-right: 13px;
  };
}

.plans-create__step-first,
.plans-create__step-second {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 39px;
  };

  @media (min-width: 1440px) {
    margin-bottom: 44px;
  };
}

.plans-create__step-first,
.plans-create__step-second,
.plans-create__step-third {
  padding: 23px 25px;
  border-radius: 10px;

  @include environment-white-middle;

  @media (min-width: 768px) {
    border-radius: 30px;
    padding: 48px 43px 56px;
  };

  @media (min-width: 1440px) {
    border-radius: 30px;
    padding: 101px 160px 106px;
  };
}

.plans-create .title-sixth {
  margin: 0;
}

.plans-create__clicker,
.plans-create__additional,
.plans-create__month {
  margin: 0;
  padding: 0;
  border: none;
}

// STEP-FIRST

.plans-create__step-first-filter {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding-top: 26px;
    margin-bottom: 60px;
    border-top: 1px solid $gray-light;
  };

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "a c"
      "b c";
    margin-bottom: 33px;
    padding-top: 30px;
  };
}

.plans-create__clicker:first-child {
  @media (min-width: 768px) {
    order: -2;
    margin-bottom: 25px;
  };

  @media (min-width: 1440px) {
    margin-bottom: 14px;
    grid-area: a;
  };
}

.plans-create__clicker:nth-child(2) {
  @media (min-width: 1440px) {
    grid-area: b;
  };
}

.plans-create__clicker {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  };

  @media (min-width: 1440px) {
    width: 100%;
  };
}

.plans-create__unit,
.plans-create__title {
  margin: 0;

  text-transform: uppercase;

  @include font(500, normal);
  @include font-size;

  @media (min-width: 768px) {
    @include font-size(20px, 20px);
  };

  @media (min-width: 1440px) {
    @include font-size(20px, 70px);
  };
}

.plans-create__unit {
  color: $black-middle;
  opacity: 0.3;
  letter-spacing: 0.07em;

  @media (min-width: 768px) {
    letter-spacing: 0.08em;
  };

  @media (min-width: 1440px) {
    order: 1;
    color: $blue-middle;
    letter-spacing: 0;
    flex-basis: 39px;
  };
}

.plans-create__title {
  margin: 0;
  letter-spacing: 0.09em;

  @media (min-width: 768px) {
    letter-spacing: 0.1em;
  };

  @media (min-width: 1440px) {
    flex-grow: 1;
    letter-spacing: 0;
  };
}

.plans-create__additional {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    order: -1;
    border-bottom: 1px solid $gray-light;
  };

  @media (min-width: 1440px) {
    grid-area: c;
    margin-bottom: 0;
    border: none;
  };
}

.plans-create__additional-list {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    margin-bottom: 27px;
  };

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    width: fit-content;
    margin-bottom: 0;
    margin-left: auto;
  };
}

.plans-create__additional-item {
  list-style-type: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.plans-create__additional-content {
  display: flex;
  line-height: 26px;

  @include font;
  @include font-size(15px, 26px);

  @media (min-width: 768px) {
    text-transform: uppercase;
    @include font(500, normal);
    @include font-size(20px, 36px);
    letter-spacing: 0.1em;
  };
}

.plans-create__custom-checkbox {
  display: block;

  width: 26px;
  height: 26px;
  margin-right: 13px;
  border: 1px solid $gray-light;
  border-radius: 4px;

  @media (min-width: 768px) {
    width: 36px;
    height: 36px;
  };
}

.plans-create__real-checkbox:checked ~ .plans-create__custom-checkbox {
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;

  @media (min-width: 768px) {
    background-size: 11px;
  };
}

.plans-create__month {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 45px;
  margin-bottom: 22px;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;

  @media (min-width: 768px) {
    height: 88px;
    margin-bottom: 40px;
  };

  @media (min-width: 1440px) {
    margin-bottom: 0;
  };
}

.plans-create__month-value {
  flex-grow: 1;

  text-align: center;

  @include font(700, normal);
  @include font-size(20px, 20px);

  @media (min-width: 768px) {
    @include font-size(36px, 36px);
  };
}

.btn-stepper {
  width: 20px;
  height: 42px;
}

.plans-create__btn-stepper-alt {
  border: none;

  width: 9px;
  height: 18px;

  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 768px) {
    width: 19px;
    height: 34px;
  };

  @media (min-width: 1440px) {
    width: 16px;
    height: 28px;
  };
}

.plans-create__btn-stepper-alt--left {
  order: -1;

  background-image: url(../img/month-arrow-left.svg);
}

.plans-create__btn-stepper-alt--right {
  background-image: url(../img/month-arrow-right.svg);
}

.plans-create__calendar {
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin-bottom: 47px;
  };

  @media (min-width: 1440px) {
    margin-bottom: 57px;
  };
}

// STEP-SECOND

.plans-create__box-country-wrap {
  position: relative;

  margin-bottom: 22px;

  &::after {
    position: absolute;
    bottom: -6px;
    right: 53px;
    transform: translate(40%, 100%);

    width: 8px;
    height: 10px;

    content: "";

    background-image: url(../img/small-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 768px) {
      display: none;
    };
  }
}

.plans-create__step-second-wrap {
  @media (min-width: 768px) {
    padding-top: 42px;
    border-top: 1px solid $gray-light;
  };

  @media (min-width: 1440px) {
    padding-top: 62px;
  };
}

.plans-create__box-country {
  display: flex;
  position: relative;
}

.plans-create__box-country--add {
  margin-bottom: 25px;

  & .plans-create__wrap--size-l {
    background-color: $white-dirty;
  }

  @media (min-width: 768px) {
    margin-bottom: 50px;
  };

  @media (min-width: 1440px) {
    margin-bottom: 56px;
  };
}

.plans-create__wrap {
  position: relative;

  height: 42px;
  border: 1px solid $gray-light;
  border-radius: 4px;

  text-transform: uppercase;

  @media (min-width: 768px) {
    height: 70px;
    vertical-align: middle;
  };

  &--flag {
    @media (min-width: 768px) {
      display: flex;
      // justify-content: space-between;
      align-items: center;

      border: none;
    };
  }
}

.plans-create__country-desc {
  display: inline-block;

  height: 100%;
  width: 100%;
  padding-right: 35px;
  padding-left: 10px;
  border: none;

  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;

  @include font(500, normal);
  @include font-size(14px, 42px);
  letter-spacing: 0.1em;
  color: $blue-middle;

  @media (min-width: 768px) {
    padding-right: 40   px;
    padding-left: 25px;
    @include font-size(20px, 70px);
  };
}

.plans-create__status {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(60%, -50%);
  z-index: 1;

  width: 8px;
  height: 8px;
  border: 1px solid $gray-light;
  border-radius: 50%;

  background-color: inherit;

  @media (min-width: 768px) {
    right: -19px;
    transform: translate(100%, -50%);

    width: 14px;
    height: 14px;
  };

  @media (min-width: 1440px) {
    right: -38px;
    transform: translate(100%, -50%);
  };

  &--active{
    border: none;
    background-color: $blue-middle;
  };
}

.plans-create__flag {
  @include zero-centered;

  width: 35px;
  height: 24px;

  @media (min-width: 768px) {
    position: relative;
    margin: 0;

    width: 70px;
    height: 47px;
  };
}

.plans-create__wrap {
  &--size-s {
    width: 53px;

    @media (min-width: 768px) {
      width: 114px;
    };
  };

  &--size-m {
    width: 168px;

    @media (min-width: 768px) {
      width: 369px;
      margin-right: 52px;
    };

    @media (min-width: 1440px) {
      width: 730px;
      margin-right: 85px;
    };
  };

  &--size-l {
    width: 100%;

    @media (min-width: 768px) {
      width: 369px;
      margin-right: 52px;
    };

    @media (min-width: 1440px) {
      width: 730px;
    };
  };
}

.plans-create__wrap--size-l .plans-create__status {
  right: 53px;
  transform: translate(60%, -50%);

  @media (min-width: 768px) {
    right: -19px;
    transform: translate(100%, -50%);

    width: 14px;
    height: 14px;
  };

  @media (min-width: 1440px) {
    right: -38px;
    transform: translate(100%, -50%);
  };
}

.plans-create__wrap--size-l .plans-create__btn {
  right: 13px;
}

// STEP-THIRD

.plans-create__plan-country {
  position: relative;

  &::after {
    display: none;

    position: absolute;
    top: 23px;
    right: 0;
    transform: translateY(-50%);

    width: 14px;
    height: 14px;
    border-radius: 50%;

    content: "";

    background-color: $blue-middle;

    @media (min-width: 768px) {
      display: block;
    };

    @media (min-width: 1440px) {
      right: 219px;
    };
  }

  @media (min-width: 768px) {
    padding-right: 30px;
  };

  @media (min-width: 1440px) {
    padding-right: 115px;
  };

  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.plans-create__step-third-wrap {
  @media (min-width: 768px) {
    margin-bottom: 47px;
    padding-top: 27px;
    border-top: 1px solid $gray-light;
  };

  @media (min-width: 1440px) {
    margin-bottom: 57px;
    padding-top: 75px;
  };
}

.plans-create__country-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin: 0;
  margin-bottom: 14px;
  margin-left: 10px;

  white-space: nowrap;
  overflow: hidden;

  @include font(500, normal);
  @include font-size(18px, 18px);
  letter-spacing: 0.01em;

  @media (min-width: 768px) {
    margin-bottom: 30px;

    @include font(700, normal);
    @include font-size(30px, 30px);
    letter-spacing: 0;
  };

  @media (min-width: 1440px) {
  };
}

.plans-create__country-flag {
  position: relative;

  content: "";
  width: 35px;
  height: 24px;

  @media (min-width: 768px) {
    width: 70px;
    height: 47px;
  };
}

.plans-create__country-spec {
  width: 100%;
  height: 220px;
  padding: 11px 14px;
  border-radius: 4px;
  border: 1px solid $black-light;
  @include font;
  @include font-size(16px, 22px);

  @media (min-width: 768px) {
    @include font-size(20px, 23px);
    height: 142px;
  };

  @media (min-width: 1440px) {
    width: 730px;
    margin-right: 132px;
  };

  &::placeholder {
    color: $black-low-two;
  }
}

// COMMON

.plans-create__desc {
  margin: 15px 0 20px;

  color: $black-low;
  @include font;
  @include font-size(16px, 22px);

  @media (min-width: 768px) {
    margin-top: 35px;
    @include font-size(20px, 24px);
  };

  @media (min-width: 1440px) {
    margin-bottom: 55px;
  };
}

.plans-create__step-first {
  & .plans-create__desc {
    @media (min-width: 768px) {
      margin-bottom: 38px;
    };
  }
}

.plans-create__step-second {
  & .plans-create__desc {
    @media (min-width: 768px) {
      margin-bottom: 33px;
    };
  }
}

.plans-create__step-third {
  & .plans-create__desc {
    @media (min-width: 768px) {
      margin-bottom: 34px;
    };
  }
}

// BUTTONS

.plans-create__buttons-wrap {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  };
}

.plans-create__btn-step {
  display: block;
  position: relative;

  width: 100%;
  margin-bottom: 17px;
  border: none;
  border-radius: 25px;

  text-align: center;
  text-transform: uppercase;

  @include font-size(18px, 40px);
  @include font(700, normal);
  color: $blue-middle;
  background-color: $yellow-low;

  @media (min-width: 768px) {
    width: 286px;
    margin-bottom: 0;
    padding-left: 34px;
    border-radius: 20px;
    text-transform: none;
    text-align: left;
    @include font-size(24px, 80px);
  };

  &::after {
    @media (min-width: 768px) {
      position: absolute;
      top: 50%;
      right: 22px;
      transform: translateY(-50%);

      width: 14px;
      height: 13px;

      background-image: url(../img/triangle-arrow-right.svg);
      background-repeat: no-repeat;

      content: "";
    };
  }
}

.plans-create__btn-step-back {
  display: block;
  position: relative;

  text-align: center;
  text-transform: uppercase;

  @include font-size(18px, 1);
  @include font(700, normal);
  color: $blue-middle;

  @media (min-width: 768px) {
    margin-left: 66px;
    text-transform: none;
    @include font-size(24px, 80px);
  };

  &::after {
    @media (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: -19px;
      // transform: translate(-100%, -50%);
      transform: translate(-100%, -50%) rotate(180deg) ;

      width: 14px;
      height: 13px;

      background-image: url(../img/triangle-arrow-right.svg);
      background-repeat: no-repeat;

      content: "";
    };
  };
}

.plans-create__btn {
  &--back{
    margin-top: 13px;
    line-height: 1;
  };
}

.plans-create__stepper {
  position: relative;
  height: 43px;

  width: 100%;
  margin-top: 8px;

  @media (min-width: 768px) {
    height: 70px;
    margin-top: 24px;
  };

  @media (min-width: 1440px) {
    width: 180px;
    margin-top: 0;
    margin-right: 35px;
  };
}

.plans-create__input {
  display: block;

  width: 100%;
  height: 100%;

  border: 1px solid $gray-light;
  border-radius: 4px;

  text-align: center;

  @include font-size(15px, 43px);

  @media (min-width: 768px) {
    @include font-size(20px, 70px);
  };

  @media (min-width: 1440px) {
    @include font-size(20px, 70px);
  };
}

.plans-create__btn-stepper {
  position: absolute;
  top: 0;

  width: 14px;
  height: 100%;
  border: none;

  content: "";
  cursor: pointer;

  background-color: inherit;

  &--left,
  &--right {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
  }

  &--left {
    left: 13px;
    background-image: url(../img/qty-minus-mobile.svg);
  };

  &--right {
    right: 13px;
    background-image: url(../img/qty-plus-mobile.svg);
  }

  @media (min-width: 768px) {
    width: 20px;
  };
}

.plans-create__btn-cross,
.plans-create__btn-cross-second {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  background-color: $white-dirty;

  @media (min-width: 768px) {
    top: 50%;
    transform: translate(0, -50%);

    background-color: inherit;
  };

  &::after{
    @include zero-centered;

    width: 9px;
    height: 9px;

    content: "";

    background-image: url(../img/small-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: 768px) {
      width: 18px;
      height: 18px;
    };
  }

  &--hide {
    display: none;
  }
}



.plans-create__btn-arrow,
.plans-create__btn-arrow-alt {
  display: block;

  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);

  width: 16px;
  height: 12px;
  padding: 0;
  border: none;

  background-color: inherit;
}

.plans-create__btn-arrow img,
.plans-create__btn-arrow-alt img {
  transform: rotate(90deg);
}

.plans-create__btn-plus {
  display: block;

  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);

  width: 14px;
  height: 14px;
  border: none;

  background-color: inherit;

  &::after {
    @include zero-centered;

    width: 14px;
    height: 14px;

    content: "";

    background-image: url(../img/qty-plus-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

// FILTER

.plans-create__filter {
  display: none;

  position: absolute;
  top: 0;
  z-index: 2;

  width: 100%;
  @include shape-top(4px);

  @media (min-width: 768px) {
    width: auto;
  };

  @media (min-width: 1440px) {
    width: auto;
  };

  &--show {
    display: block;
  };

  & .plans-create__box-country {
    @include environment-blue-middle;
    @include shape-top(4px);
  };

  & .plans-create__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    height: 42px;
    border: none;

    @media (min-width: 768px) {
      height: 70px;
    };

    &--size-l {
      padding: 0 17px;

      @media (min-width: 768px) {
        width: 369px;
        margin-right: 0;
        padding: 0 24px;
      };

      @media (min-width: 1440px) {
        width: 730px;
      };
    }
  };

  & .plans-create__country-desc {
    color: $white-middle;
    padding-left: 0;
  };
}

.plans-create__btn-cross-alt {
  width: 9px;
  height: 9px;
  margin-bottom: 3px;
  border: none;

  cursor: pointer;

  background-color: inherit;

  background-image: url(../img/small-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: 768px) {
    width: 16px;
    height: 16px;
  };

  @media (min-width: 1440px) {
    width: 18px;
    height: 18px;
  };
}

// ALPHABET //


.plans-create__alphabet-short {
  @media (min-width: 768px) {
    display: flex;

    position: absolute;
    top: 100%;

    width: 575px;
    min-height: 414px;
    @include shape-bottom(4px);

    background-color: $white-middle;
  };

  @media (min-width: 1440px) {
    width: 100%;
  };
}

.plans-create__alphabet-short .alphabet-short__table {
  grid-auto-rows: 41px;

  @include font-size(14px, 41px);

  @media (min-width: 768px) {
    grid-auto-rows: 70px;

    width: 262px;
    margin: 35px 80px 35px 27px;

    @include font-size(20px, 70px);
  };

  @media (min-width: 1440px) {
    grid-template-columns: repeat(5, auto);
    gap: 15px;

    width: 361px;
    margin: 32px 102px 36px 26px;
  };
}

.plans-create__alphabet-short .alphabet-short__desc {
  &:hover,
  &:active {
    height: 40px;
    margin-right: 1px;
    padding-left: 1px;

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4),
    &:nth-last-child(5) {
      height: inherit;
    }

    @media (min-width: 768px) {
      height: 69px;
      margin-right: 1px;
      padding-left: 1px;

      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(4),
      &:nth-last-child(5) {
        height: inherit;
      };
    };

    @media (min-width: 1440px) {
      height: auto;
      margin-right: 0;
      padding-left: 0;
    };
  }
}

.plans-create__alphabet-short .alphabet-short__names {
  padding: 19px 19px 27px;
  background-color: $white-middle;

  @media (min-width: 768px) {
    width: 206px;
    padding: 35px 23px;
    border-left: 1px solid $gray-light;
    border-bottom-right-radius: 4px;

    line-height: 20px;
  };

  @media (min-width: 1440px) {
    width: 241px;
    padding: 35px 26px;
  };
}

.plans-create__alphabet-short .alphabet-short__item:not(:last-child) {
  margin-bottom: 5px;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  };
}
