 extends ../user-card--middle

block variables
	- var userName = 'Таня Фирсова'
	- var userStatus = 'user-status--offline'
	- var userClass = 'tanya-firsova'
	- var likeCounter = '1,5M'
	- var skillNumber = '99'
	- var tags = ['ЗОЖ', 'ПП', 'Фитнес', 'пляж', 'авокадо', 'смузи']
	- var wishes = ['шри-ланка', 'тайланд', 'сейшелы']