extends ../user-card--short

block variables
	- var userName = 'Таня Фирсова'
	- var userClass = 'tanya-firsova'
	- var likeCounter = '1,5M'
	- var skillNumber = '99'
	- var likes = ['ЗОЖ', 'ПП', 'Фитнес', 'пляж', 'авокадо', 'смузи']
	- var wishes = ['шри-ланка', 'тайланд', 'сейшелы']