.user-full {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;

  padding: 15px 20px 22px;
  border-radius: 10px;

  text-align: left;

  @include environment-white;

  @media (min-width: 768px) {
    justify-content: flex-start;
    padding: 25px 25px 107px 35px;
  };

  @media (min-width: 1440px) {
    padding: 0;
  };

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.user-avatar--small {
  position: absolute;
  top: 15px;
  left: 20px;

  @media (min-width: 768px) {
    position: relative;
    top: auto;
    left: auto;

    margin-right: 29px;
  };

  @media (min-width: 1440px) {
    margin-right: 0;
  };
}

.user-full__name-wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  position: relative;

  margin-left: 86px;
  margin-bottom: 44px;

  color: $blue-middle;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-grow: unset;
    align-self: flex-start;
    margin-left: 0;
    margin-bottom: 19px;
  };
}

.user-full__user {
  &:first-child {
    @media (min-width: 768px) {
      margin-right: 12px;
    };
  }
  &::after {
    position: absolute;
    top: 8px;
    left: 100%;
    content: "";

    width: 6px;
    height: 6px;
    border-radius: 50%;

    @media (min-width: 768px) {
      transform: translateX(22px);
    };
  };
}

.user-full__tags {
  justify-content: flex-start;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin: 0;
  };
}

.user-full__wishes-wrap {
  position: relative;

  width: 100%;
  padding: 20px 0;

  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 35px;
  };

  @media (min-width: 1440px) {
    position: relative;
    bottom: unset;
    left: unset;

    width: auto;
    padding: 0;

    flex-basis: 50%;
  };

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: -20px;

    width: 270px;
    height: 1px;

    content: "";
    background-color: $white-dirty;

    @media (min-width: 768px) {
      left: -35px;
      width: 688px;
    };
  }

  &::before {
    top: 0;

    @media (min-width: 1440px) {
      display: none;
    };
  }

  &::after {
    top: 100%;

    @media (min-width: 768px) {
      display: none;
    };
  }
}

.user-full__wishes {
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  };

  @media (min-width: 1440px) {
    flex-direction: column;
  };
}

.user-full__title-fifth {
  display: none;

  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.user-full__wishes .wishes__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 25px;
  };

  @media (min-width: 1440px) {
    margin-bottom: 14px;
    margin-right: 0;
  };
}

.user-full__moves-wrap .moves__item {
  &:not(:last-child) {
    margin-right: 13px;

    @media (min-width: 768px) {
      margin-right: 0;
    };

    @media (min-width: 1440px) {
      margin-right: 13px;
    };
  }

  @media (min-width: 768px) {
    margin-bottom: 11px;
  };

  @media (min-width: 1440px) {
    margin-bottom: 0;
  };
}

.user-full__moves {
  margin: 0;

  @media (min-width: 768px) {
    flex-direction: column;
  };

  @media (min-width: 1440px) {
    flex-direction: row;
  };
}

.user-full__title-fifth {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.user-full__skill {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid red;

  text-align: center;

  background-color: gray;
}

.user-full__skill-level {
  @include font(700, normal);
  @include font-size(24px, 24px);
}

.user-full__btn-user {
  display: block;

  width: 100%;
  border-radius: 25px;

  text-transform: uppercase;
  text-align: center;

  @include font-size(17px, 40px);
  @include font(700, normal);
  color: $blue-dark;
  background-color: $yellow-low;

  @media (min-width: 768px) {
    width: fit-content;
    padding-left: 32px;
    padding-right: 32px;
  };

  @media (min-width: 1440px) {
    height: fit-content;
  };
}

//

.user-full__row--alt {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  };

  @media (min-width: 1440px) {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: space-between;

    padding: 46px 43px 42px 62px;
  };
}

.user-full__row--alt-1 {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  };

  @media (min-width: 1440px) {
    flex-basis: 50%;
  };
}

.user-full__row--alt-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-top: 17px;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    position: absolute;
    top: 25px;
    right: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
  };

  @media (min-width: 1440px) {
    position: relative;
    top: unset;
    right: unset;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 50%;
    order: 1;

    margin: 0;
  };
}
