.user-short {
  position: relative;

  border-radius: 10px;

  text-align: center;

  @include environment-white;

  @media (min-width: 768px) {
    width: 285px;
    height: 483px;
    border-radius: 15px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &:not(:first-of-type):not(:nth-of-type(2)) {
    margin-top: 48px;
  }
}

.user-short__image {
  display: block;
  width: 100%;

  @include shape-top(10px);

  @media (min-width: 768px) {
    @include shape-top(15px);
  }
}

.user-short__info {
  position: relative;

  width: 100%;
  padding: 27px 36px 20px;

  @include shape-bottom(10px);

  background-color: $white-middle;
  color: $black-low;

  @media (min-width: 768px) {
    padding: 31px 30px 20px;

    @include shape-bottom(15px);
  }
}

.user-short__name-wrap {
  display: inline-block;

  position: relative;

  margin-bottom: 15px;

  color: $blue-middle;
}

.user-short__user-status {
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}

.user-short__tags {
  justify-content: center;
  margin: 0;
  margin-bottom: 9px;

  @media (min-width: 768px) {
    margin-bottom: 21px;
  }
}

.user-short__wishes {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-short__wishes .wishes__item:not(:last-child) {
  margin-right: 20px;
}

.user-short__user {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);

    width: 6px;
    height: 6px;
    border-radius: 50%;

    content: "";

    @media (min-width: 768px) {
      left: -22px;

      width: 8px;
      height: 8px;
    }
  }
}

.user-short__skill {
  position: absolute;
  top: 17px;
  left: 17px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  text-align: center;

  background-color: $black-middle-two;
  color: $white-middle;
}

.user-short__level-wrap {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 1px;

    content: "";

    background-color: $white-middle;
    opacity: 0.3;
  }
}

.user-short__skill-level {
  @include font(700, normal);
  @include font-size(24px, 24px);
}

.user-short__skill-unit {
  margin: 0;

  @include font;
  @include font-size(14px, 14px);
}

.user-short__moves {
  margin: 0;
}

.user-short .moves__item {
  @media (min-width: 768px) {
    width: 35px;
    height: 35px;
  }

  &:not(:last-child) {
    margin-right: 3px;

    @media (min-width: 768px) {
      margin-right: 0;
    }
  }
}

.user-short .user {
  @include font-size(21px, 21px);

  @media (min-width: 768px) {
    @include font-size(24px, 24px);
  }
}
