block variables

article.country-card
	img.country-card__photo(src="#" alt= "Фото" + " " + countryName)
	.country-card__info
		img.country-card__flag(src="#" alt= "Флаг" + " " + countryName)
		h3.title-third.country-card__title-third= countryName
		p.country-card__moto= countryMoto
		input.country-card__visits(type="text" value= countyVisitors)