.container-outter {
  position: relative;

  width: 270px;
  height: 100%;  // ВРЕМЕННО
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 688px;
    padding: 0 35px;
  };
  @media (min-width: 1440px) {
    width: 1320px;
    padding: 0;
    padding-left: 70px;
  };
}
