.contacts.contacts--row
  .contacts__wrap
    a.btn-contact(href="tel:+78005558628")
      svg
      span.visually-hidden Позвонить
  .contacts__wrap
    a.btn-contact(href="#")
      svg
      span.visually-hidden Написать