.contacts.contacts--row
  a.contacts__action(href="tel:+78005558628")
    .contacts__img.contacts__img--phone
      svg.contacts__svg(fill="currentColor" aria-label="позвонить")
        use(xlink:href="./img/general.svg#icon-phone-alt")
  a.contacts__action(href="mailto:mail@htmlacademy.ru")
    .contacts__img.contacts__img--mail
      svg.contacts__svg(fill="currentColor" aria-label="написать")
        use(xlink:href="./img/general.svg#icon-mail-alt")
    span.visually-hidden Написать
