.contacts.contacts--col
  a.contacts__action(href="tel:+78005558628")
    .contacts__img
      svg.contacts__svg(fill="currentColor" aria-label="позвонить")
        use(xlink:href="./img/general.svg#icon-phone")
    span.contacts__desc 8 800 555-86-28
  a.contacts__action(href="mailto:mail@htmlacademy.ru")
    .contacts__img
      svg.contacts__svg(fill="currentColor" aria-label="написать")
        use(xlink:href="./img/general.svg#icon-mail")
    span.contacts__desc mail@htmlacademy.ru
