.contacts.contacts--col
  .contacts__wrap
    a.btn-contact(href="tel:+78005558628")
      svg
      span.visually-hidden Позвонить
    span.contacts__desc 8 800 555-86-28
  .contacts__wrap
    a.btn-contact(href="#" )
      svg
      span.visually-hidden Написать
    span.contacts__desc mail@htmlacademy.ru
