fieldset.countries__alphabet
  table.countries__alphabet-table
    each n in filterCountries.alphabet
      tr.countries__alphabet-list
        each b in n
          td.countries__alphabet-item
            a.countries__alphabet-desc(href="#")= b
fieldset.countries__chosen
  ul.countries__chosen-list
    each n in filterCountries.a
      li.countries__chosen-item
        label
          input(name= name type="checkbox" class="checkbox visually-hidden" value= n)
          span.countries__chosen-desc= n
