fieldset.countries__alphabet
  ul.countries__alphabet-list
    each n in filterCountries.alphabet
      li.countries__alphabet-item
        label.countries__alphabet-desc
          input(name="alphabet" type="radio" value= n)
          = n
fieldset.countries__chosen
  ul.countries__chosen-list
    each n in filterCountries.a
      li.countries__chosen-item
        label.countries__chosen-desc
          input(name= name type="checkbox" value= n)
          = n
