fieldset.countries__alphabet
  ul.countries__alphabet-list
    each n in filterCountries.alphabet
      li
        label.countries__alphabet-item
          input(name="alphabet" type="radio" value= n)
          = n
fieldset.countries__chosen
  ul.countries__chosen-list
    each n in filterCountries.a
      li
        label.countries__chosen-item
          input(name= name type="checkbox" value= n)
          = n