header.header
  .container
    .header__inner
      a.logo(href="#").header__logo
        img(src="#" alt="Логотип компании" width="100" height="15")
      if pageIndex
        p.header__moto В путешествие с крутыми попутчиками!
        h1.visually-hidden= firstTitle
      else
        h1.title-first.header__title-first= firstTitle
      .action-buttons-col.header__action-buttons-col
        a.btn.btn--form-round.btn--color-yellow(href="#") авторизация
        include contacts-short
      include menu-popup
      button.btn-menu.header__btn-menu(type="button")
        span.visually-hidden Открыть шапку страницы