header.header(class= pageIndex?"header--main":null)
  .header__row
    include menu-popup
    .container-outter
      a.header__logo(href="index.html")
        picture
          source(type="image/webp", media="(min-width: 1440px)", srcset="./img/logo-desktop-white@1x.webp, ./img/logo-desktop-white@2x.webp 2x")
          source(type="image/webp", media="(min-width: 768px)", srcset="./img/logo-tablet-white@1x.webp, ./img/logo-tablet-white@2x.webp 2x")
          source(type="image/webp", srcset="./img/logo-mobile-white@1x.webp, ./img/logo-mobile-white@2x.webp 2x")
          source(media="(min-width: 1440px)", srcset="./img/logo-desktop-white@1x.png 1x, ./img/logo-desktop-white@2x.png 2x")
          source(media="(min-width: 768px)", srcset="./img/logo-tablet-white@1x.png 1x, ./img/logo-tablet-white@2x.png 2x")
          img.logo(src="./img/logo-mobile-white@1x.png", srcset="./img/logo-mobile-white@2x.png 2x" alt="Логотип компании")
      a.header__logo--alt(href="index.html")
        picture
          source(type="image/webp", media="(min-width: 1440px)", srcset="./img/logo-desktop-blue@1x.webp, ./img/logo-desktop-blue@2x.webp 2x")
          source(type="image/webp", media="(min-width: 768px)", srcset="./img/logo-tablet-blue@1x.png, ./img/logo-tablet-blue@2x.webp 2x")
          source(type="image/webp", srcset="./img/logo-mobile-blue@1x.webp, ./img/logo-mobile-blue@2x.webp 2x")
          source(media="(min-width: 1440px)", srcset="./img/logo-desktop-blue@1x.png, ./img/logo-desktop-blue@2x.png 2x")
          source(media="(min-width: 768px)", srcset="./img/logo-tablet-blue@1x.png, ./img/logo-tablet-blue@2x.png 2x")
          img.logo(src="./img/logo-mobile-blue@1x.png", srcset="./img/logo-mobile-blue@2x.png 2x", alt="Логотип компании")
      button.header__btn-menu.header__btn-menu--no-js(type="button")
        span.header__btn-menu-line
        span.visually-hidden Открыть шапку страницы
      nav.header__nav
        ul.header__nav-list
          li.header__nav-link-wrap
            a.header__nav-link(href= pageIndex?"#":"index.html")
              span.header__nav-desc(data-hover="о сервисе") о сервисе
          li.header__nav-link-wrap
            a.header__nav-link(href="directions.html")
              span.header__nav-desc(data-hover="направления") направления
          li.header__nav-link-wrap
            a.header__nav-link(href="companions.html")
              span.header__nav-desc(data-hover="попутчики") попутчики
      .action-buttons.action-buttons--row
        include contacts-short
        a.action-buttons__btn(href="#")
          span.action-buttons__btn-desc авторизация
  .action-buttons.action-buttons--row
    include contacts-short
    a.action-buttons__btn(href="#")
      span.action-buttons__btn-desc авторизация
