header.header(class= pageIndex?"header--full":"header--short")
  .header__row
    a.logo(href="#")
      img(src="../../img/logo-mobile-white@1x.png" alt="Логотип компании" width="96" height="15")
    button.btn-menu.header__btn-menu(type="button")
      span.visually-hidden Открыть шапку страницы
  .container-outter
    if pageIndex
      p.header__moto В путешествие с крутыми попутчиками!
      h1.visually-hidden= firstTitle
      .header__action-buttons-row
        include contacts-short
        a.btn.btn--form-round.btn--color-back-yellow.btn--color-font-blue-dark.btn--font-17-bold.header__btn(href="#") авторизация
      .container-inner
        .header__review
          p.paragraph Лучшее приложение, что я видел в жизни!
          p.paragraph.paragraph--weight-bold Мурат Эльтазин главный редактор газеты "гаджетлайф"
    else
      //- h1.title-first.header__title-first= firstTitle
  include menu-popup
