header.header(class= pageIndex?"header--main":null)
  .header__row
    a.logo.logo--white(href="#")
    .header__btn-menu(type="button")
      span.header__btn-menu-line
      span.visually-hidden Открыть шапку страницы
    .action-buttons.action-buttons--row
      include contacts-short
      a.action-buttons__btn(href="#") авторизация
  include menu-popup
