.menu-popup.menu-popup--no-js
  .menu-popup__row
    .container-outter
      a.menu-popup__logo(href="index.html")
        picture
          source(type="image/webp", media="(min-width: 1440px)", srcset="./img/logo-desktop-blue@1x.webp, ./img/logo-desktop-blue@2x.webp 2x")
          source(type="image/webp", media="(min-width: 768px)", srcset="./img/logo-tablet-blue@1x.png, ./img/logo-tablet-blue@2x.webp 2x")
          source(type="image/webp", srcset="./img/logo-mobile-blue@1x.webp, ./img/logo-mobile-blue@2x.webp 2x")
          source(media="(min-width: 1440px)", srcset="./img/logo-desktop-blue@1x.png, ./img/logo-desktop-blue@2x.png 2x")
          source(media="(min-width: 768px)", srcset="./img/logo-tablet-blue@1x.png, ./img/logo-tablet-blue@2x.png 2x")
          img.logo(src="./img/logo-mobile-blue@1x.png", srcset="./img/logo-mobile-blue@2x.png 2x", alt="Логотип компании")
      button.menu-popup__btn-cross.menu-popup__btn-cross--no-js(type="button")
        img(src="./img/menu-close.svg", width="18", height="18", alt="скрыть шапку страницы")
  .container-outter
    nav.menu-popup__nav
      ul.menu-popup__nav-list
        li
          a.menu-popup__nav-link(href="index.html") о сервисе
        li
          a.menu-popup__nav-link(href="directions.html") направления
        li
          a.menu-popup__nav-link(href="companions.html") попутчики
    .action-buttons.action-buttons--col
      a.action-buttons__btn(href="#") авторизация
      include contacts-full
    .social.menu-popup__social
      a.social__link(href="#")
        svg.social__svg(aria-label="facebook")
          use(xlink:href="./img/general.svg#icon-fb")
      a.social__link(href="#")
        svg.social__svg(aria-label="вконтакте")
          use(xlink:href="./img/general.svg#icon-vk")
      a.social__link(href="#")
        svg.social__svg(aria-label="инстаграм")
          use(xlink:href="./img/general.svg#icon-inst")