.filter-countries {
  position: relative;

  padding: 53px 0 17px;

  background-color: $white-dirty-two;

  @media (min-width: 768px) {
    padding: 99px 0 56px;
  };

  @media (min-width: 1440px) {
    padding-top: 131px;
  };
}

.filter-countries__row {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
  };

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  };
}

.filter-countries__row .title-fourth {
  &::before {
    display: inline-block;

    position: relative;

    width: 15px;
    height: 10px;
    margin-right: 12px;

    background-image: url(../img/filter.svg);
    background-repeat: no-repeat;

    content: "";

    @media (min-width: 1440px) {
      width: 23px;
      height: 15px;
      margin-right: 22px;
    };
  }

  @media (min-width: 768px) {
    display: none;
  };

  @media (min-width: 1440px) {
    display: block;
  };
}

.filter-countries__title-fourth {
  margin: 0;

  @media (min-width: 1440px) {
    margin-right: 30px;
  };
}

.filter-countries__btn-dots {
  display: flex;
  align-items: center;

  border: none;
  width: fit-content;

  cursor: pointer;
  text-transform: uppercase;

  background-color: inherit;

  @media (min-width: 1440px) {
    order: 1;
  };

  &--no-js {
    display: none;
  };

  &--hide {
    display: none;
  }
}

.filter-countries__btn-dots-desc {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-right: 20px;
  };
}

.filter-countries__btn-dots-img {
  display: block;

  position: relative;
  top: -1px;
  right: 10px;

  width: 3px;
  height: 3px;
  border-radius: 50%;

  background-color: $blue-high;

  &::after,
  &::before {
    display: block;

    position: absolute;
    top: 0;

    width: 3px;
    height: 3px;
    border-radius: 50%;

    content: "";

    background-color: $blue-high;
  };

  &::before {
    margin-left: 7px;
  };

  &::after {
    margin-left: 14px;
  };
}

.filter-countries__btn-hide {
  display: none;

  align-items: center;

  border: none;

  text-transform: uppercase;

  background-color: inherit;

  @media (min-width: 1440px) {
    order: 1;
  };

  &--show {
    display: flex;
  }
}

.filter-countries__btn-hide-desc {
  display: none;

  @media (min-width: 768px) {
    display: block;
    @include font(700, normal);
    @include font-size(20px, 20px);
  };
}

.filter-countries__btn-hide-img {
  width: 18px;
  height: 18px;

  @media (min-width: 768px) {
    margin-left: 60px;
  };
}

.filter-countries__form-parts {
  display: none;

  width: 100%;
  margin: 35px 25px 21px;

  @include font(700, normal);
  @include font-size(16px, 18px);
  background-color: inherit;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    width: auto;
    margin: 0;
    padding-top: 0;

    @include font-size(20px, 20px);
  };

  @media (min-width: 1440px) {
    flex-grow: 1;
  };

  &--no-js {
    display: block;

    @media (min-width: 768px) {
      margin-right: auto;
    };
  };

  &--show {
    display: block;
  };
}

.filter-countries__parts {
  margin: 0;
  padding: 0;
  border: none;

  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 0;
  };
}

.filter-countries__parts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: flex;
  };
}

.filter-countries__parts-value:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 28px;
  };

  @media (min-width: 1440px) {
    margin-right: 32px;
  };
}

.filter-countries__parts-item {
  color: $blue-high;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  };

  &:active {
    opacity: 1;
  };
}

.filter-countries__form-countries {
  display: none;

  margin-bottom: 11px;

  @media (min-width: 768px) {
    margin-top: 63px;
    margin-bottom: 19px;
  };

  @media (min-width: 1440px) {
    margin-top: 60px;
    margin-bottom: 0;
  };

  &--no-js {
    display: block;
    margin-bottom: 0;
  };

  &--show {
    display: block;
  };
}

.filter-countries__btn {
  display: none;
  // display: block;

  width: 100%;
  border: none;
  border-radius: 20px;

  text-transform: uppercase;

  @include font-size(16px, 40px);
  @include font(700, normal);
  color: $blue-high;
  background-color: $blue-light-three;

  @media (min-width: 768px) {
    @include font-size(20px, 100px);
  };

  &--show {
    display: block;
  };
}

.filter-countries__alphabet-short {
  margin: 0 25px;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 78px;
  };

  @media (min-width: 1440px) {
    display: none;
  };

  &--no-js {
    margin-bottom: 0;
  };
}

.filter-countries__alphabet-short .alphabet-short__table {
  grid-auto-rows: 45px;

  margin-bottom: 20px;

  @include font-size(14px, 45px);

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, auto);
    gap: 30px;

    width: 345px;
    margin-bottom: 0;

    @include font(700, normal);
    @include font-size(60px, 50px);
  };
}

.filter-countries__alphabet-short .alphabet-short__desc {
  &:hover,
  &:active {
    height: 44px;
    margin-right: 1px;
    padding-left: 1px;

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4),
    &:nth-last-child(5) {
      height: inherit;
    };
  };

  @media (min-width: 768px) {
    outline: none;

    background-color: inherit;
    color: $blue-high;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    };

    &:active {
      opacity: 1;
    };
  };
}

.filter-countries__alphabet-short .alphabet-short__names {
  @media (min-width: 768px) {
    width: 173px;
    line-height: 30px;
  };
}
