.filter-users{
  padding: 26px 25px 22px;
  border-radius: 20px;
  @include environment-yellow;

  @media (min-width: 768px) {
    padding: 37px 35px;
  };

  @media (min-width: 1440px) {
    width: 285px;
    padding: 45px;
  };
}

.filter-users__fieldset {
  margin: 22px 0;
  padding: 0;
  border: none;

  @media (min-width: 768px) {
    margin: 37px 0;
    padding: 34px 0;
    border-top: 1px solid $separator-line;
    border-bottom: 1px solid $separator-line;
  };

  @media (min-width: 1440px) {
    margin: 34px 0 38px;
    padding: 0;
    border: none;
  };
}

.filter-users .title-fourth{
  width: 40%;
}

.filter-users__btn {
  width: 100%;
  border: none;
  border-radius: 25px;

  text-align: center;
  text-transform: uppercase;

  @include font-size(17px, 40px);
  @include font(700, normal);
  @include environment-white-middle($white-middle, $blue-dark);
}
