.header__menu-popup
	button.btn-close.header__btn-close(type="button")
		span.visually-hidden Скрыть шапку страницы
	nav.main-nav.header__main-nav
		ul.main-nav__list
			li.main-nav__item
				a.link.main-nav__link(href="#") о сервисе
			li.main-nav__item
				a.link.main-nav__link(href="./directions.html") направления
			li.main-nav__item
				a.link.main-nav__link(href="./companions.html") попутчики
	include ../action-buttons/menu-popup__action-buttons