header.header
	.container
		.header__inner-wrapper
			a.logo(href="#").header__logo
				img(src="#" alt="Логотип компании" width="100" height="15")
			//----- CONDITIONAL
			if pageIndex
				p.header__moto В путешествие с крутыми попутчиками!
				h1.visually-hidden= firstTitle
			else
				h1.header__title.title-first= firstTitle
			//----- CONDITIONAL //
			include header__menu-popup
			button.btn-menu.header__btn-menu(type="button")
				span.visually-hidden Открыть шапку страницы
			include ../social/header__social