.action-buttons {
  z-index: 8;

  &--row {
    display: flex;

    position: absolute;
    bottom: -404px;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 270px;
    margin: 0 auto;

    @media (min-width: 768px) {
      display: none;
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;

      width: unset;
      margin: 0;
    }
  }

  &--col {
    margin-bottom: 41px;
    color: $blue-high;

    @media (min-width: 768px) {
      margin-bottom: 129px;
    }
  }
}

.action-buttons__btn {
  flex-grow: 1;
  border-radius: 25px;

  text-align: center;
  text-transform: uppercase;

  color: $blue-dark;
  background-color: $yellow-low;

  @media (min-width: 768px) {
    flex-grow: unset;
    display: inline;
    padding: 0 28px;
  }
}

.action-buttons--row .action-buttons__btn {
  @include font-size(20px, 40px);
  @include font(700, normal);

  @media (min-width: 768px) {
    line-height: 50px;
  }
}

.action-buttons--col .action-buttons__btn {
  @include font-size(17px, 50px);
  @include font(700, normal);

  @media (min-width: 768px) {
    font-size: 20px;
    font-weight: 400;
  }
}
