.logo {
  display: block;

  width: 100px;
  height: 19px;

  &--white{
    background-image: url(../../img/logo-mobile-white@1x.png);
  };

  &--blue{
    background-image: url(../../img/logo-mobile-blue@1x.png);
  }

  @media (min-width: 768px) {
    width: 166px;
    height: 42px;

    &--white{
      background-image: url(../../img/logo-tablet-white@1x.png);
    };

    &--blue{
      background-image: url(../../img/logo-tablet-blue@1x.png);
    }
  };

  @media (min-width: 1440px) {
    width: 200px;
    height: 52px;

    &--white{
      background-image: url(../../img/logo-desktop-white@1x.png);
    };

    &--blue{
      background-image: url(../../img/logo-desktop-blue@1x.png);
    }
  };
}
