mixin checkbox(title, name, massive)
  fieldset.box.filter-users__box
    label.box__heading-wrap
      h3.title-third= title
      .btn.box__btn
        img(src="../../img/triangle-arrow-right.svg" width="10" height="7")
    ul.box__value-list
      each n in massive
        li.box__value-item
          label.box__option
            input.real-checkbox(name= name type="checkbox" value= n)
            span.custom-checkbox
            = n
