mixin checkbox-without-name(title, name, massive)
  .box
    .box__heading-wrap
      span.title-fourth= title + ":"
      button.box__btn.box__btn--close(type="button")
        img.box__img(src="./img/triangle-arrow-right.svg" width="10" height="7" alt="Кнопка управления состоянием списка")
    ul.box__list
      each n in massive
        li.box__item
          label
            input.real-checkbox.visually-hidden(name= name type="checkbox" value= n)
            span.custom-checkbox-img
              svg.custom-checkbox-svg(aria-label= n)
                use(xlink:href= "./img/general.svg#icon-" + n)
