mixin checkbox-without-name(title, name, massive)
  .box
    .box__heading-wrap
      h3.title-fourth= title + ":"
      .box__btn.box__btn--close
        img.box__img(src="./img/triangle-arrow-right.svg" width="10" height="7")
    ul.box__list
      each n in massive
        li.box__item
          label.box__option
            input.real-checkbox.visually-hidden(name= name type="checkbox" value= n)
            span.custom-checkbox
            span.visually-hidden= n
