mixin checkbox(title, name, massive)
  .box
    label.box__heading-wrap
      h3.title-fourth= title + ":"
      .box__btn.box__btn--open
        img.box__img(src="./img/triangle-arrow-left.svg" width="10" height="7")
    ul.box__value-list
      each n in massive
        li.box__value-item
          label.box__option
            input.real-checkbox(name= name type="checkbox" value= n)
            span.custom-checkbox
            = n
