mixin checkbox(title, name, massive)
  fieldset.box.filter-users__box
    label.box__heading-wrap
      h3.title-third= title
      .btn.box__btn
        svg
    ul.box__value-wrap
      each n in massive
        li
          label.box__option
            input.real-checkbox.visually-hidden(name= name type="checkbox" value= n)
            span.custom-checkbox
            = n