mixin input-country(countryName)
  .box-country-wrap
    if countryName
      .box-country.directions__box-country
        label.box-country__wrap.box-country__wrap--size-m
          span.box-country__desc= countryName
          button.btn.box-country__btn(alt="Раскрыть список стран")
            svg
          span.box-country__status.box-country__status--active
        .box-country__wrap.box-country__wrap--size-s
          img.box-country__flag(src="#" alt= "Флаг " + countryName)
        button.btn-close
    else
      .box-country.directions__box-country
        label.box-country__wrap.box-country__wrap--size-l
          span.box-country__desc выберите страну
          button.btn.box-country__btn(alt="Раскрыть список стран")
            svg
          span.box-country__status
        button.btn-close
    .box-country__filter
      include ../blocks/filter-countries
    img.box-country__arrow(alt="Переход к следующей стране")