mixin input-country(countryEn, countryRu)
  .plans-create__box-country-wrap
    if countryEn
      .plans-create__box-country
        label.plans-create__wrap.plans-create__wrap--size-m
          input(type="text" name="countrys" value= countryRu).plans-create__country-desc
          button.plans-create__btn-arrow(type="button", alt="Раскрыть список стран")
            img(src="./img/month-arrow-right.svg" width="16" height="12")
          span.plans-create__status.plans-create__status--active
        .plans-create__wrap.plans-create__wrap--flag.plans-create__wrap--size-s
          svg.plans-create__flag
            use(xlink:href="./img/general.svg#flag-" + countryEn)
        button.plans-create__btn-cross
          span.visually-hidden Удалить выбранную страну
    else
      .plans-create__box-country
        label.plans-create__wrap.plans-create__wrap--size-l
          span.plans-create__country-desc выберите страну
          button.plans-create__btn-arrow-alt(type="button", alt="Раскрыть список стран")
            img(src="./img/month-arrow-right.svg" width="16" height="12")
          span.plans-create__status
        button.plans-create__btn-cross-second
          span.visually-hidden Удалить выбранную страну
      .plans-create__filter
        .plans-create__box-country
          label.plans-create__wrap.plans-create__wrap--size-l
            span.plans-create__country-desc выберите страну
            button.plans-create__btn-cross-alt
              span.visually-hidden Свернуть меню стран
        include ../blocks/alphabet-short
