mixin input-country(countryName)
  .box-country-wrap
    if countryName
      .box-country.directions__box-country
        label.box-country__wrap.box-country__wrap--size-m
          span.box-country__desc= countryName
          button.btn.box-country__btn(alt="Раскрыть список стран")
            img(src="../../img/month-arrow-right.svg" width="16" height="12")
          span.box-country__status.box-country__status--active
        .box-country__wrap.box-country__wrap--size-s
          img.box-country__flag(src="../../img/flag-bosnia-and-herzegovina.png" width="35" height="24" alt= "Флаг " + countryName)
        button.btn-close
    else
      .box-country.directions__box-country
        label.box-country__wrap.box-country__wrap--size-l
          span.box-country__desc выберите страну
          button.btn.box-country__btn(alt="Раскрыть список стран")
            img(src="../../img/month-arrow-right.svg" width="16" height="12")
          span.box-country__status
    .box-country__filter
      .box-country.directions__box-country
        label.box-country__wrap.box-country__wrap--size-l
          span.box-country__desc выберите страну
          button.btn.box-country__btn(alt="Раскрыть список стран")
            //- svg
          span.box-country__status
        button.btn-close
      include ../blocks/filter-countries
    .box-country__arrow
      img(src="../../img/small-arrow.svg" width="8" height="10" alt="Переход к следующей стране")
