mixin fieldset-checkbox(title, name, massive)
	fieldset.filter-users__box
		.box__heading-wrapper
			h3.title-third= title
			.box__btn.btn
				svg
		ul.box__value-wrapper
			each n in massive
				li
					label.box__option
						input.real-checkbox.visually-hidden(name= name type="checkbox" value= n)
						span.custom-checkbox
						= n