mixin textarea-country(countryNameRu, countryNameEn, countryPlan)
  article.plans-create__plan-country
    p.plans-create__country-name= countryNameRu
    textarea.plans-create__country-spec(name="plan-for-" + countryNameEn rows="9" form="form" placeholder="План действий")= countryPlan
