mixin textarea-country(countryNameRu, countryNameEn, countryPlan)
  article.plans-create__plan-country
    p.plans-create__country-name= countryNameRu
      svg.plans-create__country-flag
        use(xlink:href="./img/general.svg#flag-" + countryNameEn)
    textarea.plans-create__country-spec(name="plan-" + countryNameEn rows="9" form="step-form" placeholder="План действий")= countryPlan
