.advertising {
  position: relative;

  padding-top: 71px;
  padding-bottom: 45px;

  @include environment-white-dirty;

  @media (min-width: 768px) {
    padding-top: 129px;
    padding-bottom: 60px;
  };

  @media (min-width: 1440px) {
    padding-top: 162px;
    padding-bottom: 165px;
  };
}

.advertising .container-outter {
  padding-left: 25px;

  @media (min-width: 768px) {
    padding: 0;
  };

  @media (min-width: 1440px) {
    padding-left: 70px;
    padding-right: 70px;
  };
}

.advertising__moto {
  width: 40%;
  margin: 0;

  @include font(700, normal);
  @include font-size(24px, 24px);
  color: $orange-middle;

  @media (min-width: 768px) {
    width: 100%;
    margin-bottom: 32px;

    text-align: center;

    @include font-size(45px, 45px);
  };

  @media (min-width: 1440px) {
    margin-bottom: 83px;
  };
}

.advertising__list {
  position: relative;

  margin: 0;
  margin-top: 46px;
  margin-bottom: 31px;
  padding: 0;

  counter-reset: myCounter;

  @include font(300, normal);
  @include font-size;

  &::after {
    position: absolute;
    top: -31px;
    right: 0;
    transform: translateY(-100%);

    width: 100px;
    height: 100px;

    content: "";

    background-image: url(../img/rates@1x.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 768px) {
      top: 100%;
      right: 45px;
      transform: translateY(18px);
    };

    @media (min-width: 1440px) {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 198px;
      height: 198px;
    };
  }

  &::before {
    @media (min-width: 768px) {
      position: absolute;
      top: -20%;
      right: 0;
      z-index: 0;

      height: 140%;
      width: 198px;
      border-radius: 20px;

      content: "";

      background: $white-dirty-two;
    };

    @media (min-width: 1440px) {
      right: 111px;
      width: 446px;
    };
  }

  @media (min-width: 768px) {
    margin-top: 74px;
    padding-right: 34px;
    @include font-size(28px, 28px);
  };

  @media (min-width: 1440px) {
    padding-right: 272px;
  };
}

.advertising__item {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  position: relative;
  z-index: 1;

  width: 100%;

  list-style-type: none;

  &::before {
    align-self: flex-start;

    top: 3px;
    right: -43px;

    width: 34px;
    margin-left: 10px;
    border-radius: 50%;

    content:counter(myCounter);
    counter-increment: myCounter;
    text-align: center;

    @include font;
    line-height: 34px;

    @media (min-width: 768px) {
      width: 68px;
      margin-left: 0;
      margin-right: 22px;

      @include font(400, normal);
      @include font-size(28px, 68px);
    };
  }

  @media (min-width: 768px) {
    flex-direction: row;
  };

  &:first-child::before {
    background-color: $orange-middle;
  }

  &:nth-child(2)::before {
    background-color: $yellow-middle;
  }

  &:last-child::before {
    background-color: $yellow-low;
  }

  &:last-child .advertising__desc-wrap {
    border-bottom: 1px solid $separator-line-two;
  }
}

.advertising__desc-wrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;

  padding: 23px 0;
  border-top: 1px solid $separator-line-two;

  @media (min-width: 768px) {
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px 0;
  };
}

.advertising__desc {
  margin: 0;
}

.advertising__btn {
  display: block;

  width: 100%;
  border: none;

  text-align: left;

  @include font-size;
  @include font(700, normal);
  color: $blue-middle-two;

  @media (min-width: 768px) {
    display: flex;

    @include font-size(20px, 68px);
  };

  &::before {
    @media (min-width: 768px) {
      position: relative;

      width: 68px;
      height: 68px;
      margin-right: 21px;
      border-radius: 50%;

      content: "";

      background-color: $white-dirty-two;
      background-image: url(../img/user.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30%;
    };
  };
}

.advertising__business {
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  @media (min-width: 768px) {
    top: 55px;
  };

  @media (min-width: 1044px) {
    top: 55%;
    transform: translateY(-50%);
  };
}