.check-in {
  position: relative;

  padding-top: 90px;
  padding-bottom: 50px;

  text-align: center;

  @include environment-blue;

  @media (min-width: 768px) {
    padding-top: 134px;
    padding-bottom: 60px;
  };

  @media (min-width: 1440px) {
    padding-top: 164px;
    padding-bottom: 102px;
  };
}

.check-in__title-second {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: 768px) {
    margin-bottom: 58px;
  };
}

.check-in__email {
  position: relative;
  display: block;
  margin-top: 29px;
  margin-bottom: 29px;

  @media (min-width: 768px) {
    margin: 29px 35px;
  };

  @media (min-width: 1440px) {
    margin: 29px 0;
  };
}

.check-in__input {
  width: 100%;
  padding-left: 25px;
  border: none;
  border-radius: 10px;

  @include font(700, normal);
  @include font-size(18px, 62px);
}

.check-in__btn {
  position: absolute;
  right: 0;

  width: 60px;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  background-color: $yellow-low;

  &::after {
    @include zero-centered;

    width: 14px;
    height: 16px;

    content: "";

    background-image: url(../img/triangle-arrow-right.svg);
    background-repeat: no-repeat;
  }
}

.check-in .contacts {
  @media (min-width: 768px) {
    margin: 0 35px;
  };

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-around;
    margin: 0;
  };
}
