.country-card {
  position: relative;

  border-radius: 10px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  };

  @media (min-width: 1440px) {
    width: 560px;
  };
}

.country__img {
  height: 110px;
  margin-bottom: -10px;
  @include shape-top(10px);

  background-image: url(../img/thailand-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media (min-width: 768px) {
    width: 186px;
    height: 140px;
    margin-bottom: 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background-image: url(../img/thailand-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

  };
}

.country-card__info {
  display: flex;
  justify-content: space-between;

  position: relative;

  padding: 26px 23px 24px;
  border-radius: 10px;

  @include font(500, normal);
  background-color: $white-middle;

  &::after {
    position: absolute;
    top: 0;
    left: 23px;
    transform: translateY(-50%);

    width: 35px;
    height: 24px;
    border-radius: 3px;

    content: "";

    background-image: url(../img/flag-bosnia-and-herzegovina.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 768px) {
      top: 17px;
      left: auto;
      right: 0;
      transform: none;
      transform: translateX(50%);

      width: 70px;
      height: 47px;
      border-radius: 5px;

      padding: 30px 26px 20px;
    };
  }

  @media (min-width: 768px) {
    flex-direction: column;
    width: auto;
    flex-grow: 1;

    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  };
}

.country-card__title-third {
  margin: 0;
  margin-bottom: 2px;
  color: $black-middle;

  @media (min-width: 768px) {
    margin-bottom: 5px;
  };
}

.country-card__moto {
  margin: 0;

  @include font-size(16px, 18px);
  color: $black-low;
  opacity: 0.3;

  @media (min-width: 768px) {
    @include font-size(20px, 20px);
  };
}

.country-card__visitors {
  position: relative;
  align-self: flex-start;
  

  @include font-size(16px, 16px);
  color: $blue-dark;
  opacity: 0.3;

  @media (min-width: 768px) {
    @include font-size(20px, 20px);
    margin-left: 25px;
  };

  &::before {
    position: absolute;
    top: 45%;
    left: -7px;
    transform: translate(-100%, -50%);

    width: 11px;
    height: 12px;
    margin-right: 5px;

    content: "";

    color: $blue-high;
    opacity: 0.5;

    background-image: url(../img/user.svg);

    @media (min-width: 768px) {
      width: 18px;
      height: 20px;
    };
  }
}
