.country-card {
  position: relative;

  border-radius: 10px;

  background-image: url(../../img/thailand-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    height: 140px;
  };
}

.country__img {
  height: 110px;
  margin-bottom: -10px;
  border-radius: 10px;

  background-image: url(../../img/thailand-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media (min-width: 768px) {
    width: 185px;
    height: 100%;
    margin-bottom: 0;
    margin-left: -10px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background-image: none;
    background-color: red;
  };
}

.country-card__info {
  display: flex;
  justify-content: space-between;

  position: relative;

  width: 100%;
  padding-top: 26px;
  padding-bottom: 24px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 10px;

  @include font(500, normal);
  background-color: $white-middle;

  &::after {
    position: absolute;
    top: 0;
    left: 23px;
    transform: translateY(-50%);

    width: 35px;
    height: 24px;

    content: "";

    background-image: url(../img/flag-bosnia-and-herzegovina.png);
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      top: 17px;
      left: auto;
      right: 0;
      transform: none;
      transform: translateX(50%);
    };
  }

  @media (min-width: 768px) {
    flex-grow: 1;
    flex-direction: column;
  };
}

.country-card__info-wrap {
}

.country-card__title-third {
  margin-bottom: 2px;
  color: $black-middle;
}

.country-card__moto {
  margin: 0;

  @include font-size(16px, 18px);
  color: $black-low;
  opacity: 0.3;
}

.country-card__visitors {
  display: flex;

  position: relative;

  @include font-size(16px, 16px);
  color: $black-low;
  opacity: 0.3;

  &::before {
    position: relative;

    width: 14px;
    height: 14px;
    margin-right: 5px;

    content: "";

    background-image: url(../../img/user.svg);
  }
}
