.index {
  position: relative;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    min-width: 768px;
  };

  @media (min-width: 1440px) {
    min-width: 1440px;
  };
}

.index__about {
  z-index: 6;
  @include shape-bottom;

  @media (min-width: 768px) {
    @include shape-bottom(55px);
  };
}

.index__countries {
  z-index: 5;
  margin-top: -30px;
  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;
    @include shape-bottom(55px);
  };
}

.index__travelers {
  z-index: 4;
  margin-top: -30px;
  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;
    @include shape-bottom(55px);
  };
}

.index__advertising {
  z-index: 3;
  margin-top: -30px;
  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;
    @include shape-bottom(55px);
  };
}

.index__business {
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-989px);
  z-index: 5;
}

.index__check-in {
  z-index: 2;
  margin-top: -30px;
  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;
    @include shape-bottom(55px);
  };
}

.index__adress {
  z-index: 1;
  margin-top: -30px;
  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;
    @include shape-bottom(55px);
  };
}

.index__map {
  margin-top: -30px;
  margin-bottom: -30px;
  height: 310px;
  background-color: gray;

  @media (min-width: 768px) {
    margin-top: -55px;
    margin-bottom: -55px;
  };
}

.index__btn-content {
  display: block;

  position: relative;

  padding-left: 22px;
  border-radius: 10px;

  @include font-size(18px, 60px);
  @include font(700, normal);
  background-color: $yellow-low;
  color: $blue-middle;

  &::after {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);

    width: 14px;
    height: 13px;

    background-image: url(../img/triangle-arrow-right.svg);
    background-repeat: no-repeat;

    content: "";
  }

  &--border {
    border: 3px solid $blue-high;
  }

  @media (min-width: 768px) {
    border-radius: 20px;
  };

  @media (min-width: 1440px) {
    width: 275px;
  };
}
