.title-second {
  @include font(700, normal);
  @include font-size(24px, 24px);

  &--orange {
    color: $orange-middle;
  }

  &--blue {
    color: $blue-middle;
  }

  @media (min-width: 768px) {
    @include font-size(45px, 45px);
  }

  @media (min-width: 1440px) {
    line-height: 48px;
  }
}
