.title-first {
  display: inline-block;

  position: relative;

  margin: 0;

  @include font(700, normal);
  @include font-size(36px, 36px);

  @media (min-width: 768px) {
    @include font-size(60px, 60px);
  };

  &::after {
    position: absolute;
    bottom: -14px;
    left: 0;

    height: 5px;
    width: 100%;
    border-radius: 4px;

    content: "";

    background-color: $orange-middle;

    @media (min-width: 768px) {
      bottom: -71px;
      height: 8px;
    };
  };
}
