.contacts
	.contacts__phone
		a.contacts__call(href="tel:+78005558628")
			svg
			span.visually-hidden Позвонить
	.contacts__email
		a.contacts__text(href="#" )
			svg
			span.visually-hidden Написать