.contacts--row {
  display: flex;
  height: 40px;
}

.contacts__action {
  display: flex;
}

.contacts__img--phone {
  background-color: $orange-middle;
}

.contacts__img--mail {
  background-color: $yellow-middle;
}

.contacts__img {
  display: inline-block;

  position: relative;

  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contacts__svg {
  @include zero-centered;

  width: 18px;
  height: 18px;

  color: $blue-dark;
}

.contacts__desc {
  display: inline-block;

  text-transform: uppercase;

  @include font(700, normal);
  @include font-size(16px, 40px);
  color: $blue-high;
}

.contacts--col {
  & .btn-contact {
    display: flex;
  };
  & .contacts__img {
    margin-right: 16px;
    background-color: $blue-dark-two;
  };
  & .contacts__svg {
    color: $yellow-low;
  }
}

.check-in {
  & .contacts__desc {
    color: $yellow-low;
  }
}

