.social {
  display: flex;
  justify-content: center;
}

.menu-popup__social {
  @media (min-width: 768px) {
    justify-content: flex-start;
  };
}

.social__link {
  position: relative;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  &--alt{
    background-color: $yellow-low;
  };
}

.header .social__link{
  @media (min-width: 768px) {
    width: 68px;
    height: 68px;
  };
}

.footer .social__link{
  @media (min-width: 768px) {
    width: 62px;
    height: 62px;
  };
}

.social__svg {
  @include zero-centered;

  width: 23px;
  height: 21px;

  color: $blue-high;

  @media (min-width: 768px) {
    width: 31px;
    height: 28px;
  }

  &--alt{
    background-color: $yellow-low;
  };
}
