.check-in{
  position: relative;

  padding-top: 90px;
  padding-bottom: 50px;

  @include environment-blue;
  text-align: center;
}

.check-in__title-second{
  margin: 0;
  margin-bottom: 19px;
}

.check-in__email-form{
  margin: 29px 0;
}

.email-form + .container-inner{
  margin-bottom: 17px;
}

.email-form{
  position: relative;
  display: block;
}

.email-form__btn{
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 100%;
  border: none;
}

.email-form__input{
  width: 100%;
  padding-left: 25px;
  border: none;
  border-radius: 10px;

  font-size: 18px;
  line-height: 62px;
  @include font(700, normal);
}
