@mixin environment-blue ($background: $blue-high, $color: $white-middle) {
  background-color: $background;
  color: $color;
}

@mixin environment-blue-middle ($background: $blue-middle, $color: $white-middle) {
  background-color: $background;
  color: $color;
}

@mixin environment-blue-special ($background: $blue-dark, $color: $white-middle) {
  background-color: $background;
  color: $color;
}

@mixin environment-white-dirty ($background: $white-dirty, $color: $black-low) {
  background-color: $background;
  color: $color;
}

@mixin environment-white ($background: $white-dirty, $color: $black-low) {
  background-color: $background;
  color: $color;
}

@mixin environment-white-middle ($background: $white-middle, $color: $blue-middle) {
  background-color: $background;
  color: $color;
}

@mixin environment-white-alt ($background: $white-dirty, $color: $black-low) {
  background-color: $background;
  color: $color;
}

@mixin environment-yellow ($background: $yellow-low, $color: $blue-middle) {
  background-color: $background;
  color: $color;
}

@mixin shape-top ($radius: 30px) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin shape-bottom ($radius: 30px) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin shape-left ($radius: 30px) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin shape-right ($radius: 30px) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin font($weight: 400, $style: normal) {
  font-weight: $weight;
  font-style: $style;
}

@mixin font-size($size: 16px, $height: 1) {
  font-size: $size;
  line-height: $height;
}

@mixin zero-centered() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin circle($procent) {
  $circumference: 100px;
  $arc: $circumference * $procent / 100;
  $gap: $circumference - $arc;

  stroke-width: 3px;
  stroke-linecap: round;
  stroke-dashoffset: 25px;
  stroke-dasharray: $arc $gap;
}
