// COLORS

$blue-dark: #161c35;
$blue-dark-two: #121936;
$blue-high: #192144;
$blue-middle: #1d2E5b;
$blue-middle-two: #132576;
$blue-light: #f3f4f8;
$blue-light-two: #dfe3f0;
$blue-light-three: #d6daed;
$white-dirty: #edeff6;
$white-dirty-two: #e2e5f2;
$white-middle: #ffffff;
$gray-middle: #cccccc;
$gray-light: #cbced9;
$gray-light-two: #f2f2f2;
$gray-light-three: #d6d9e6;
$black-middle: #000000;
$black-low: #444444;
$black-low-two: rgba(68, 68, 68, 0.3);
$black-light: rgba(29, 46, 91, 0.14);
$yellow-low: #ffd74b;
$orange-middle: #ff8d30;
$orange-middle-two: #ffa530;
$yellow-middle: #ffbd30;
$red-middle: #FF5C23;

$status-offline: #f97676;
$status-online: #81e31e;

$main-bg-first: $white-dirty;
$main-bg-second: #dfe3f0;
$main-bg-third: #d4d9Eb;

$separator-line: #f3c72b;
$separator-line-two: #e1e3e9;

$border: $gray-light;
$border-hover: #959bb2;
$border-active: $blue-middle;
