extends ../user-card--short

block variables
	- var userName = 'Петя Демин'
	- var userStatus = 'user-status--online'
	- var userClass = 'petya-demin'
	- var likeCounter = '1500'
	- var skillNumber = '80'
	- var likes = ['бургег', 'бар', 'футбол', 'концерт', 'крафт']
	- var wishes = ['бельгия', 'чехия']