.box {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  border: none;
  border-top: 1px solid $separator-line;
}
.box__value-list {
  margin: 0;
  padding: 0;
}

.box__value-item {
  list-style-type: none;
}

.box__heading-wrap .title-third {
  line-height: 40px;
}

.box__heading-wrap {
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;

  @include font(500, normal);
}

.box__btn {
  padding: 0;

  line-height: 41px;

  &--open .box__img {
    transform: rotate(90deg);
  };

  &--close .box__img {
    transform: rotate(-90deg);
  };
}
