.box {
  display: flex;
  flex-direction: column;

  padding-top: 12px;
  border: none;
  border-top: 1px solid $separator-line;

  @media (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    padding-top: 0;
    margin-bottom: 27px;
    border: none;

    &:nth-last-of-type(3) {
      margin-bottom: 21px;
    }

    &:nth-last-of-type(2) {
      margin-bottom: 14px;
    }
  }

  @media (min-width: 1440px) {
    flex-direction: column;
    align-items: flex-start;

    padding-top: 8px;
    margin-bottom: 0;

    &:nth-last-of-type(3),
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
}

.box__heading-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  text-transform: uppercase;

  @include font(500, normal);

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    width: 100%;
    margin-bottom: 16px;
  }
}

.box:nth-child(4) .box__heading-wrap {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    margin-bottom: 16px;
  }
}

.box__btn {
  margin: 0;
  padding: 0;
  border: none;

  cursor: pointer;

  background-color: inherit;

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1440px) {
    display: block;
  }

  &--open .box__img {
    transform: rotate(90deg);
  }

  &--close .box__img {
    transform: rotate(-90deg);
  }
}

.box__value-list {
  margin: 2px 0 17px;
  padding: 0;

  list-style-type: none;

  @media (min-width: 768px) {
    display: flex;
    width: 490px;
    margin: 0;
  }

  @media (min-width: 1440px) {
    display: block;

    width: auto;
    margin-top: 2px;
    margin-bottom: 20px;
  }
}

.box__value-item {
  color: $black-middle;
  @include font;
  @include font-size(15px, 18px);

  @media (min-width: 768px) {
    flex-basis: 33.333%;
    @include font-size(20px, 24px);
  }

  @media (min-width: 1440px) {
    flex-basis: unset;
  }

  &:not(:last-child) {
    margin-bottom: 12px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    @media (min-width: 1440px) {
      margin-bottom: 16px;
    }
  }
}

.box__list {
  display: flex;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;

  @media (min-width: 768px) {
    width: 490px;
    margin: 0;
  }

  @media (min-width: 1440px) {
    width: auto;
    margin-bottom: 20px;
  }
}

.box__item {
  display: block;

  border-radius: 50%;

  & .custom-checkbox-img {
    display: block;
    position: relative;

    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: $white-middle;

    @media (min-width: 768px) {
      width: 43px;
      height: 43px;
    }

    &:hover .custom-checkbox-svg {
      &:hover {
        color: $gray-middle-two;
      }
  
      &:active {
        color: $blue-middle;
        opacity: 0.1;
      }
    }

    &:active {
      background-color: $white-dirty-three;
    }
  }

  & .custom-checkbox-svg {
    @include zero-centered;

    width: 17px;
    height: 17px;

    color: $gray-middle-three;

    @media (min-width: 768px) {
      width: 23px;
      height: 23px;
    }
  }

  & .real-checkbox:checked ~ .custom-checkbox-img .custom-checkbox-svg {
    color: $blue-middle;
    opacity: 1;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  & .real-checkbox:focus ~ .custom-checkbox-img {
    outline: 1px solid $blue-dark;
  }

  & .real-checkbox:checked ~ .custom-checkbox-img {
    &:active {
      background-color: $white-dirty-three;
    }
  }
}
