.custom-checkbox {
  display: inline-block;

  width: 18px;
  height: 18px;
  margin-right: 9px;
  border-radius: 4px;

  vertical-align: middle;

  @include font;
  @include font-size(15px, 18px);

  color: $black-middle;
  background-color: $white-middle;

  @media (min-width: 768px) { 
    width: 24px;
    height: 24px;
    margin-right: 12px;

    @include font-size(15px, 24px);
  };
}

.real-checkbox:checked ~ .custom-checkbox {
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;

  @media (min-width: 768px) {
    background-size: 11px;
  };
}