.companions {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.companions .container-outter {
  @media (min-width: 1440px) {
    padding-right: 65px;
  }
}

.companions__filter-countries {
  position: relative;
  z-index: 1;

  margin-top: -30px;

  @include shape-bottom;

  @media (min-width: 768px) {
    @include shape-bottom(55px);
  }
}

.companions__filter-users {
  margin-bottom: 28px;

  @media (min-width: 768px) {
    margin-bottom: 45px;
  }

  @media (min-width: 1440px) {
    align-self: flex-start;
  }
}

.companions__wrap {
  margin: -30px 0;
  padding-top: 51px;
  padding-bottom: 76px;

  background-color: $white-dirty;

  @media (min-width: 768px) {
    padding-top: 74px;
    padding-bottom: 92px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 103px;
  }
}

.companions__wrap .container-outter {
  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding: 0;
  }
}

.companions__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companions__users-wrap {
  @media (min-width: 768px) {
    width: 100%;
  }
}

.companions__btn-open {
  display: inline-flex;
  align-items: center;

  margin: 24px 0 26px;

  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  @include font(700, normal);
  @include font-size(17px, 17px);
  color: $blue-middle;

  &::before {
    width: 18px;
    height: 18px;
    margin-right: 15px;

    background-image: url("../img/show-more-plus.svg");
    background-repeat: no-repeat;
    background-position: 50%;

    content: "";

    @media (min-width: 768px) {
      width: 26px;
      height: 26px;
      margin-right: 29px;
    }
  }

  @media (min-width: 768px) {
    margin: 46px 0 51px;

    @include font-size(20px, 20px);
  }

  @media (min-width: 1440px) {
    margin: 62px 0 71px;
  }
}

.companions__clicker-wrap {
  display: flex;

  position: relative;

  width: 100%;
  height: 51px;
  border-radius: 20px;

  background-color: $white-middle;

  &::after {
    @include zero-centered;

    height: 100%;
    width: 1px;
    background-color: $white-dirty;

    content: "";

    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding-left: 29px;
    padding-right: 19px;
  }
}

.companions__pages {
  display: none;

  margin: 0;
  padding: 0;

  list-style-type: none;

  @include font(700, normal);
  @include font-size(20px, 50px);

  @media (min-width: 768px) {
    display: flex;
    flex-grow: 1;
  }
}

.companions__page-number {
  width: 50px;
  border-radius: 50%;

  text-align: center;

  color: $blue-middle;

  &--active {
    background-color: $yellow-low;
  }
}

.companions__page-link {
  color: $blue-middle;
}

.companions__btn-clicker {
  display: block;
  flex-grow: 1;

  position: relative;

  height: 100%;

  &--left,
  &--right {
    &::after {
      @include zero-centered;

      width: 10px;
      height: 18px;

      content: "";

      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &--left {
    &::after {
      transform: rotate(180deg);
    }
  }

  @media (min-width: 768px) {
    display: block;
    flex-grow: unset;

    width: 42px;
    height: 50%;
  }

  @media (min-width: 1440px) {
    display: block;
    flex-grow: unset;

    width: 50px;
    height: 50%;
  }
}
