block variables

article(class= stepClass + ' plans-create__' + stepClass)
	p.title-sixth.plans-create__title-sixth= 'Шаг ' + stepNumber + '.'
	h6.title-sixth.plans-create__title-sixth= stepName
	p.plans-create__description= stepDesc
	block content
	if stepLast
		button.btn.btn_form--round.btn_color--yellow.plans-create__btn(type="submit") отправить
	else
		button.btn.btn_form--round.btn_color--yellow.plans-create__btn следующий шаг
	if stepFirst
	else
		button.btn.btn_color--blue.plans-create__btn на шаг назад