block variables

article(class= 'plans-create__' + stepClass)
  .container-inner
    p.title-sixth.plans-create__title-sixth= 'Шаг ' + stepNumber + '.'
    h6.title-sixth.plans-create__title-sixth= stepName
    p.plans-create__desc= stepDesc
    block content
    if stepLast
      button.directions__btn-step(type="submit") отправить
    else
      a.directions__btn-step(href="#") следующий шаг
    if stepFirst
    else
      a.directions__btn-step-back(href="#") на шаг назад
