extends step-sample

block variables
  - var stepClass = 'step-second'
  - var stepNumber = '2'
  - var stepName = 'Маршрут'
  - var stepDesc = 'Укажите страны, которые вы хотели посетить. Это может быть одна или сразу несколько.'
  - var stepFirst = false
  - var stepLast = false

include ../../mixins/input-country

block content
  .plans-create__step-second-wrap
    +input-country('босния и герцеговина')
    +input-country('чехия')
    +input-country()
    .plans-create__box-country.plans-create__box-country--add
      label.plans-create__wrap.plans-create__wrap--size-l
        span.plans-create__country-desc добавить страну
        button.plans-create__btn-plus
        span.plans-create__status
