block variables

article(class= 'plans-create__' + stepClass)
  .plans-create__row
    .plans-create__title-wrap
      p.title-fifth.plans-create__title-fifth= 'Шаг ' + stepNumber + '.'
      h5.title-fifth.plans-create__title-fifth= stepName
    p.plans-create__desc= stepDesc
    ul.plans-create__list
      li.plans-create__item(class= stepFirst?"plans-create__item--active":null) даты
      li.plans-create__item(class= stepMiddle?"plans-create__item--active":null) маршрут
      li.plans-create__item(class= stepLast?"plans-create__item--active":null) развлечения
  block content
  .plans-create__buttons-wrap
    if stepLast
      button.plans-create__btn-step(type="submit" form="step-form") Отправить
    else
      a.plans-create__btn-step(href="#") Следующий шаг
    if stepFirst
    else
      a.plans-create__btn-step-back(href="#") На шаг назад
