extends step-sample

block variables
  - var stepClass = 'step-first'
  - var stepNumber = '1'
  - var stepName = 'Даты пребывания'
  - var stepDesc = 'Укажите предпочтительное количество попутчиков, которых вы хотели бы позвать в поездку и ее предполагаемую длительность.'
  - var additional = ['Можно с детьми']
  - var stepFirst = true
  - var stepLast = false
 
include ../../mixins/checkbox-without-title
include ../../mixins/input-number

block content
  .plans-create__step-first-filter
    +input-number('ищу попутчиков:', 'чел.', '2', 'companions')
    +input-number('длительность:', 'дн.', '2', 'days')
    +checkbox-without-title('additional', additional)
  .plans-create__month
    .plans-create__month-value Март 2019
    input.visually-hidden(type="month" name="month" value="2019-03")
    button.plans-create__btn-stepper-alt.plans-create__btn-stepper-alt--left
    button.plans-create__btn-stepper-alt.plans-create__btn-stepper-alt--right
  .calendar.plans-create__calendar
    input.visually-hidden(type="date" name="date-start" value="2019-03-26")
    input.visually-hidden(type="date" name="date-finish" value="2019-03-28")
    ul.calendar__days-list
      li.calendar__days-item
        span.calendar__days-desc-min П
        span.calendar__days-desc-max Пн
      li.calendar__days-item
        span.calendar__days-desc-min В
        span.calendar__days-desc-max Вт
      li.calendar__days-item
        span.calendar__days-desc-min С
        span.calendar__days-desc-max Ср
      li.calendar__days-item
        span.calendar__days-desc-min Ч
        span.calendar__days-desc-max Чт
      li.calendar__days-item
        span.calendar__days-desc-min П
        span.calendar__days-desc-max Пт
      li.calendar__days-item.calendar__days-item--red
        span.calendar__days-desc-min С
        span.calendar__days-desc-max Сб
      li.calendar__days-item.calendar__days-item--red
        span.calendar__days-desc-min В
        span.calendar__days-desc-max Вс
    ul.calendar__dates-list
      li.calendar__dates-item
        span.calendar__dates-value 23
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 24
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 25
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 26
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 27
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 28
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 1
          span.calendar__dates-month мар
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 2
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 3
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 4
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 5
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 6
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 7
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 8
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 9
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 10
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 11
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 12
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 13
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 14
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 15
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 16
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 17
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 18
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 19
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 20
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 21
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 22
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 23
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 24
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item
        span.calendar__dates-value 25
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored.calendar__dates-item--active.calendar__dates-item--start
        span.calendar__dates-value 26
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored.calendar__dates-item--active
        span.calendar__dates-value 27
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored.calendar__dates-item--active.calendar__dates-item--finish
        span.calendar__dates-value 28
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored
        span.calendar__dates-value 29
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored
        span.calendar__dates-value 30
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored
        span.calendar__dates-value 31
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored
        span.calendar__dates-value 1
          span.calendar__dates-month апр
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored
        span.calendar__dates-value 2
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored
        span.calendar__dates-value 3
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored
        span.calendar__dates-value 4
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
      li.calendar__dates-item.calendar__dates-item--colored
        span.calendar__dates-value 5
        span.calendar__dates.calendar__dates--start Заезд
        span.calendar__dates.calendar__dates--finish Выезд
