extends step-sample

block variables
  - var stepClass = 'step-first'
  - var stepNumber = '1'
  - var stepName = 'Даты пребывания'
  - var stepDesc = 'Укажите предпочтительное количество попутчиков, которых вы хотели бы позвать в поездку и ее предполагаемую длительность.'
  - var additional = ['Можно с детьми']
  - var stepFirst = true
  - var stepLast = false

include ../../mixins/checkbox-without-title
include ../../mixins/input-number

block content
  +input-number('ищу попутчиков:', 'чел.', '2')
  +input-number('длительность:', 'дн.', '2')
  +checkbox-without-title('additional', additional)
  fieldset.plans-create__month
    input.plans-create__input(type="month" value="2019-03")
    //- button.plans-create__btn-stepper-alt.plans-create__btn-stepper-alt--right
    //- button.plans-create__btn-stepper-alt.plans-create__btn-stepper-alt--right
  .calendar.plans-create__calendar
    ul.calendar__days-list
      li.calendar__days-item П
      li.calendar__days-item В
      li.calendar__days-item С
      li.calendar__days-item Ч
      li.calendar__days-item П
      li.calendar__days-item.calendar__days-item--red С
      li.calendar__days-item.calendar__days-item--red В
    ul.calendar__dates-list
      li.calendar__dates-item 23
      li.calendar__dates-item 24
      li.calendar__dates-item 25
      li.calendar__dates-item 26
      li.calendar__dates-item 27
      li.calendar__dates-item 28
      li.calendar__dates-item 1
      li.calendar__dates-item 2
      li.calendar__dates-item 3
      li.calendar__dates-item 4
      li.calendar__dates-item 5
      li.calendar__dates-item 6
      li.calendar__dates-item 7
      li.calendar__dates-item 8
      li.calendar__dates-item 9
      li.calendar__dates-item 10
      li.calendar__dates-item 11
      li.calendar__dates-item 12
      li.calendar__dates-item 13
      li.calendar__dates-item 14
      li.calendar__dates-item 15
      li.calendar__dates-item 16
      li.calendar__dates-item 17
      li.calendar__dates-item 18
      li.calendar__dates-item 19
      li.calendar__dates-item 20
      li.calendar__dates-item 21
      li.calendar__dates-item 22
      li.calendar__dates-item 23
      li.calendar__dates-item 24
      li.calendar__dates-item 25
      li.calendar__dates-item.calendar__dates-item--colored.calendar__dates-item--active.calendar__dates-item--first 26
      li.calendar__dates-item.calendar__dates-item--colored.calendar__dates-item--active 27
      li.calendar__dates-item.calendar__dates-item--colored.calendar__dates-item--active 28
      li.calendar__dates-item.calendar__dates-item--colored 29
      li.calendar__dates-item.calendar__dates-item--colored 30
      li.calendar__dates-item.calendar__dates-item--colored 31
      li.calendar__dates-item.calendar__dates-item--colored 1
      li.calendar__dates-item.calendar__dates-item--colored 2
      li.calendar__dates-item.calendar__dates-item--colored 3
      li.calendar__dates-item.calendar__dates-item--colored 4
      li.calendar__dates-item.calendar__dates-item--colored 5
