extends step-sample

block variables
  - var stepClass = 'step-third'
  - var stepNumber = '3'
  - var stepName = 'Развлечения'
  - var stepDesc = 'Наконец, расскажите о своих планах времяпровождения. Можно писать в свободной форме и ставить тэги.'
  - var stepFirst = false
  - var stepLast = true

include ../../mixins/textarea-country

block content
  .plans-create__step-third-wrap
    +textarea-country('Босния и Герцеговина', 'bosnia')
    +textarea-country('Чехия', 'czech', 'Пить пиво и лазить по старым замкам, наслаждаться архитектурой и вот это все.')