.social.footer__social
	h2.visually-hidden Ссылки на социальные сети
	a.social__link.link_color--orange(href="#")
		svg
		span.visually-hidden Вконтакте
	a.social__link.link_color--orange(href="#")
		svg
		span.visually-hidden Facebook
	a.social__link.link_color--orange(href="#")
		svg
		span.visually-hidden Instagram