.contacts--row {
  display: flex;
  height: 40px;

  @media (min-width: 768px) {
    display: none;
  };

  @media (min-width: 1440px) {
    display: flex;
    height: 50px;
  };
}

.contacts__action {
  display: flex;
}

.contacts__img--phone {
  background-color: $orange-middle;
}

.contacts__img--mail {
  background-color: $yellow-middle;
}

.contacts__img {
  display: inline-block;
  position: relative;
  border-radius: 50%;
}

.contacts--row .contacts__img {
  width: 40px;
  height: 40px;

  @media (min-width: 1440px) {
    width: 50px;
    height: 50px;
  };
}

.contacts--col .contacts__img {
  width: 45px;
  height: 45px;

  @media (min-width: 768px) {
    width: 68px;
    height: 68px;
  };

  @media (min-width: 1440px) {
    width: 90px;
    height: 90px;
  };
}

.contacts__svg {
  @include zero-centered;

  width: 18px;
  height: 18px;

  color: $blue-dark;

  @media (min-width: 768px) {
    width: 28px;
    height: 28px;
  };

  @media (min-width: 1440px) {
    width: 37px;
    height: 37px;
  };
}

.contacts--row .contacts__svg {
  @media (min-width: 1440px) {
    width: 18px;
    height: 18px;
  };
}

.contacts__desc {
  display: block;

  text-transform: uppercase;

  @include font(700, normal);
  @include font-size(16px, 45px);
  color: $blue-high;

  @media (min-width: 768px) {
    @include font-size(28px, 68px);
  };

  @media (min-width: 1440px) {
    @include font-size(28px, 90px);
  };
}

.contacts--col {
  & .btn-contact {
    display: flex;
  };
  & .contacts__img {
    margin-right: 16px;
    background-color: $blue-dark-two;

    @media (min-width: 768px) {
      margin-right: 22px;
    };
  
    @media (min-width: 1440px) {
      margin-right: 31px;
    };
  };
  & .contacts__svg {
    color: $yellow-low;
  }
}

.check-in {
  & .contacts__desc {
    color: $yellow-low;
  }
}
