.contacts {
  &--col {
    & .contacts__img {
      width: 45px;
      height: 45px;
      margin-right: 16px;
      background-color: $blue-dark-two;

      @media (min-width: 768px) {
        width: 68px;
        height: 68px;
        margin-right: 22px;
      }

      @media (min-width: 1440px) {
        width: 90px;
        height: 90px;
        margin-right: 31px;
      }
    }

    & .contacts__svg {
      color: $yellow-low;
    }

    & .btn-contact {
      display: flex;
    }
  }

  &--row {
    display: flex;
    height: 40px;

    @media (min-width: 768px) {
      display: none;
    }

    @media (min-width: 1440px) {
      display: flex;
      height: 50px;
    }

    & .contacts__img {
      width: 40px;
      height: 40px;

      @media (min-width: 1440px) {
        width: 50px;
        height: 50px;
      }
    }

    & .contacts__svg {
      color: $blue-dark;

      @media (min-width: 1440px) {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.contacts__action {
  display: flex;

  &:hover .contacts__img--phone {
    background-color: $orange-middle-three;
  }

  &:hover .contacts__img--mail {
    background-color: $orange-middle;
  }

  &:active .contacts__img--phone,
  &:active .contacts__img--mail {
    & .contacts__svg {
      opacity: 0.3;
    }
  }
}

.contacts__img {
  display: inline-block;
  position: relative;
  border-radius: 50%;

  &--phone {
    background-color: $orange-middle;
  }

  &--mail {
    background-color: $yellow-middle;
  }
}

.contacts__svg {
  @include zero-centered;

  width: 18px;
  height: 18px;

  @media (min-width: 768px) {
    width: 28px;
    height: 28px;
  }

  @media (min-width: 1440px) {
    width: 37px;
    height: 37px;
  }
}

.contacts__desc {
  display: block;

  text-transform: uppercase;

  @include font(700, normal);
  @include font-size(16px, 45px);
  color: $blue-high;

  @media (min-width: 768px) {
    @include font-size(28px, 68px);
  }

  @media (min-width: 1440px) {
    @include font-size(28px, 90px);
  }
}
