.footer {
  position: relative;
  z-index: 5;

  min-width: 320px;
  padding: 37px 0 18px;

  @include shape-top;

  text-align: center;

  @include environment-white-middle($white-middle, $black-low);

  @media (min-width: 768px) {
    padding: 46px 0 32px;

    @include shape-top(55px);
  }

  @media (min-width: 1440px) {
    padding: 50px 0 43px;
  }
}

.footer .container-outter {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.footer__social {
  margin-top: 36px;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1440px) {
    flex-grow: 1;
  }
}

.footer__creator {
  display: flex;
  justify-content: space-between;

  position: relative;

  width: 100%;

  &::before {
    position: absolute;
    top: -13px;

    width: 100%;
    height: 1px;

    content: "";

    background-color: $gray-light-two;
  }

  @media (min-width: 768px) {
    width: auto;

    &::before {
      display: none;
    }
  }

  @media (min-width: 1440px) {
    margin-left: 50px;
  }
}

.footer__creator-desc {
  margin: 0;

  @include font();
  @include font-size(16px, 33px);

  @media (min-width: 768px) {
    margin-right: 23px;

    @include font-size(20px, 33px);
  }
}

.footer .social__link {
  @media (min-width: 768px) {
    width: 62px;
    height: 62px;
  }
}
