.header {
  position: relative;
  z-index: 8;

  min-width: 320px;
  height: 57px;

  @include environment-blue;

  @media (min-width: 768px) {
    height: 132px;
  }

  @media (min-width: 1440px) {
    padding-top: 46px;
    height: unset;
  }

  &--main {
    @include environment-blue-special;
    height: 71px;

    @media (min-width: 768px) {
      @include environment-blue;
      height: 132px;
    }

    @media (min-width: 1440px) {
      @include environment-blue-special;
      height: unset;
    }

    & .header__row {
      height: 71px;

      @media (min-width: 768px) {
        height: 132px;
      }

      @media (min-width: 1440px) {
        height: 90px;
      }
    }

    & .action-buttons--row {
      display: flex;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &--scroll {
    @media (min-width: 1440px) {
      padding-top: 0;
      height: 90px;
    }
  }
}

.header--scroll .header-logo {
  display: none;
}

.header__logo--alt {
  display: none;
}

.header__row {
  height: 57px;
  width: 100%;
  position: unset;

  z-index: 9;

  @media (min-width: 768px) {
    height: 132px;
  }

  @media (min-width: 1440px) {
    height: auto;
  }

  & > .container-outter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;

    height: 100%;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  & .action-buttons--row {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  & .header__nav-link {
    @media (min-width: 1440px) {
      &:hover .header__nav-desc {
        transform: translateY(-100%);
      }
  
      &:active {
        opacity: 0.3;
      }

      &:focus .header__nav-desc {
        color: $yellow-low;
      }
    } 
  }

  &--scroll {
    position: fixed;
    top: 0;

    @include environment-white-middle($white-middle, $blue-high);

    @media (min-width: 1440px) {
      height: 90px;
    }

    & .header__logo {
      display: none;

      &--alt {
        display: block;
      }
    }

    & .header__btn-menu-line {
      &::after,
      &::before {
        background-color: $gray-middle;
      }
    }

    .header__nav-list {
      &::before {
        background-color: $blue-high;
      }
    }

    & .header__nav-link {
      @media (min-width: 1440px) {
        color: $blue-high;

        &:hover .header__nav-desc {
          transform: unset;
        }

        &:active {
          opacity: unset;
        }
      }
    }
  }
}

.header__nav {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    flex-grow: 1;
  }
}

.header__nav-list {
  @media (min-width: 1440px) {
    display: flex;
    list-style-type: none;

    text-transform: uppercase;

    @include font-size(20px, 20px);

    &::before {
      width: 60px;
      height: 2px;
      margin-right: 45px;
      margin-top: auto;
      margin-bottom: auto;

      background-color: $white-middle;

      content: "";
    }
  }
}

.header__nav-link-wrap {
  @media (min-width: 1440px) {
    overflow: hidden;
    height: 1em;

    &:last-child {
      margin-left: 33px;
    }
  }
}

.header__nav-link {
  @media (min-width: 1440px) {
    color: $white-middle;
  }
}

.header__nav-desc {
  display: none;
  width: 131px;

  @media (min-width: 1440px) {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
  
    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      color: $yellow-low;
      font-weight: 700;
      transform: translate3d(0,0,0);
    }
  }
}

// BUTTONS

.header__btn-menu {
  margin: 0;
  padding: 0;
  border: none;

  background-color: inherit;

  cursor: pointer;

  @media (min-width: 768px) {
    margin-left: 20px;
  }

  @media (min-width: 1440px) {
    display: none;
  }

  &--no-js {
    display: none;
  }
}

.header__btn-menu-line {
  display: flex;
  flex-direction: column;

  &::after,
  &::before {
    display: block;

    position: relative;

    width: 25px;
    height: 3px;
    border-radius: 1.5px;

    content: "";

    background-color: $white-middle;
  }

  &::before {
    margin-bottom: 5px;
  }
}
