.header {
  min-width: 320px;
  padding-top: 27px;

  background-color: $blue-dark;
  color: $white-middle;

  &--short {
    @include environment-blue;
  };

  &--full {
    position: relative;

    &::before,
    &::after {
      display: none;

      position: absolute;
      bottom: 0;
      transform: translateY(-285px);

      content: "";
    };

    &::before {
      width: 100%;
      height: 478px;

      background-image: url(../../img/globe-back-mobile@1x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    };

    &::after {
      left: 54px;

      width: 192px;
      height: 255px;

      background-image: url(../../img/traveller-illustration-mobile@1x.png);
      background-repeat: no-repeat;
      background-size: cover;
    };
  };
}

.header__row {
  display: flex;
  justify-content: space-between;
  padding: 0 26px;
}

.header__moto {
  height: 118px;
  margin: 0;
  margin-top: 52px;
  margin-bottom: 313px;

  white-space: break-spaces;
  text-align: center;

  @include font(700, normal);
  @include font-size(36px, 40px);
}

.header__review {
  width: 72.525%;
  padding-bottom: 109px;
}

.header__review .paragraph:first-child {
  margin-bottom: 18px;
}

.header__action-buttons-row {
  display: flex;

  top: 0;
  left: 0;

  width: 100%;
  margin: 0 auto;
}

.header__action-buttons-col {
  margin-bottom: 41px;
  color: $blue-high;
}

.header__menu-popup {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 569px;
  padding-top: 27px;
  padding-bottom: 41px;

  background-color: $white-middle;
}

.header__nav {
  margin-top: 76px;
  margin-bottom: 51px;
}

.header__nav-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;
  text-transform: uppercase;

  @include font(500, normal);
  @include font-size(30px, 35px);
}

.header__nav-link {
  color: $blue-high;
}

// BUTTONS

.header__btn-action {
  display: block;

  flex-grow: 1;

  border-radius: 25px;

  text-align: center;
  text-transform: uppercase;

  @include font-size(17px, 40px);
  @include font(700, normal);
  color: $blue-dark;
  background-color: $yellow-low;
}

.header__menu-popup .header__btn-action {
  margin-bottom: 51px;
  line-height: 50px;
}

.header__btn-menu {
  display: block;

  position: relative;

  height: 11px;

  cursor: pointer;
}

.header__btn-menu-line {
  display: block;

  position: relative;

  width: 25px;
  height: 3px;
  border-radius: 1.5px;

  background-color: white;

  &::after {
    display: block;

    position: absolute;
    bottom: -5px;
    transform: translateY(100%);

    width: 25px;
    height: 3px;
    border-radius: 1.5px;

    content: "";

    background-color: white;
  }
}

.header__menu.active {
  span {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.header__btn-cross {
  width: 18.6px;
  height: 18.6px;

  cursor: pointer;

  color: $gray-middle;
}
