.menu-popup {
  display: none;

  width: 100%;
  padding-top: 19px;
  padding-bottom: 41px;

  background-color: $white-middle;

  @media (min-width: 768px) {
    padding-top: 41px;
    padding-bottom: 90px;
  }

  @media (min-width: 1440px) {
    display: none;
  }

  &--no-js {
    display: block;
    position: relative;

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &--show {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  & .container-outter {
    @media (min-width: 768px) {
      position: unset;
    }
  }
}

.menu-popup__row {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    height: 50px;
  }

  & .container-outter {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      padding: 0;
    }
  }
}

.menu-popup__nav {
  margin-top: 76px;
  margin-bottom: 51px;

  @media (min-width: 768px) {
    margin-top: 98px;
    margin-bottom: 144px;
  }
}

.menu-popup__nav-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;
  text-transform: uppercase;

  @include font(500, normal);
  @include font-size(30px, 35px);

  @media (min-width: 768px) {
    text-align: left;

    @include font-size(60px, 70px);
  }
}

.menu-popup__nav-link {
  color: $blue-high;
}

.menu-popup__btn-cross {
  display: none;

  height: 18px;
  margin: 0;
  margin-right: 4px;
  padding: 0;
  border: none;

  cursor: pointer;

  background-color: inherit;

  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--show {
    display: block;
  }
}

.menu-popup .action-buttons__btn {
  display: block;

  margin-bottom: 51px;
  padding: 0;

  @media (min-width: 768px) {
    position: absolute;
    top: 41px;
    right: 40px;

    margin-bottom: 0;
    padding: 0 28px;
  }
}

.menu-popup__social {
  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}
