.social {
  display: flex;
  justify-content: center;
}

.social__link {
  position: relative;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  &--alt {
    background-color: $yellow-low;
  }
}

.social__svg {
  @include zero-centered;

  width: 23px;
  height: 21px;

  color: $blue-high;

  @media (min-width: 768px) {
    width: 31px;
    height: 28px;
  }

  &--alt {
    background-color: $yellow-low;
  }
}
