.user-avatar {
  border-radius: 50%;
  border: 1px solid red;

  background-image: url(../../img/demin-tablet@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  &--small {
    width: 70px;
    height: 70px;
  };

  &--big {
    width: 100px;
    height: 100px;
  };
}
