.address {
  position: relative;

  padding: 50px 0 43px;

  @include environment-yellow;

  @media (min-width: 768px) {
    padding: 103px 0 84px;
  }

  @media (min-width: 1440px) {
    padding: 110px 0 55px;
  }
}

.address .container-outter {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 223px;
    padding-right: 75px;
  }
}

.address__wrap {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 44px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 0;
  }
}

.address__desc {
  margin: 0;

  text-transform: uppercase;
  width: 143px;

  @include font(700, normal);
  @include font-size(16px, 22px);

  @media (min-width: 768px) {
    width: unset;
    @include font-size(28px, 68px);
  }

  @media (min-width: 1440px) {
    flex-grow: 1;
    margin-bottom: 0;

    line-height: 90px;
  }
}

.address__img {
  position: relative;

  width: 45px;
  height: 45px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: $blue-dark;

  @media (min-width: 768px) {
    width: 68px;
    height: 68px;
    margin-right: 26px;
  }

  @media (min-width: 1440px) {
    width: 90px;
    height: 90px;
    margin-right: 31px;
  }
}

.address__svg {
  @include zero-centered;

  width: 16px;
  height: 21px;

  @media (min-width: 768px) {
    width: 24px;
    height: 32px;
  }

  @media (min-width: 1440px) {
    width: 32px;
    height: 42px;
  }
}

.address .index__btn-content {
  @media (min-width: 768px) {
    line-height: 74px;
  }

  @media (min-width: 1440px) {
    line-height: 74px;
    width: 323px;
  }
}
