.address {
  position: relative;

  padding: 50px 0;

  @include environment-yellow;

  @media (min-width: 768px) {
    padding: 103px 0 84px;
  };

  @media (min-width: 1440px) {
    padding: 110px 0 55px;
  };
}

.address .container-outter {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 223px;
    padding-right: 55px;
  };
}

.address__desc {
  display: flex;

  margin: 0;
  margin-bottom: 32px;

  text-transform: uppercase;
  white-space: break-spaces;

  @include font(700, normal);
  @include font-size(16px, 22px);

  &::before {
    width: 53px;
    height: 45px;
    margin-right: 16px;
    border-radius: 50%;

    content: "";

    background-color: $blue-dark;
    background-image: url(../img/contacts-location.svg);
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: center;

    @media (min-width: 768px) {
      width: 68px;
      height: 68px;
      margin-right: 26px;

      background-size: 32px 32px;
    };

    @media (min-width: 1440px) {
      width: 90px;
      height: 90px;
      margin-right: 26px;

      background-size: 42px 42px;
    };
  };

  @media (min-width: 768px) {
    @include font-size(28px, 68px);
  };

  @media (min-width: 1440px) {
    margin-bottom: 0;

    line-height: 90px;
  };
}

.address .index__btn-content {
  @media (min-width: 768px) {
    line-height: 74px;
  };
}
