.business {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;

  width: 270px;
  height: fit-content;
  margin: auto;
  padding-top: 34px;
  border-radius: 20px;
  box-shadow: 0 2px 8px $black-light;

  @include environment-white($white-middle, $black-low);
  opacity: 0;
  pointer-events: none;

  @media (min-width: 768px) {
    width: 688px;
    padding-top: 55px;
  }

  @media (min-width: 1440px) {
    width: 750px;
  }

  &--show {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
}

.business:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.business__title-second {
  margin: 0;
  text-align: center;
}

.business__list {
  margin: 28px 0 34px;
  padding: 0 25px;

  @include font(300, normal);
  @include font-size;

  @media (min-width: 768px) {
    margin: 46px 0 52px;
    padding: 0 91px;
  }

  @media (min-width: 1440px) {
    padding: 0 60px;
  }
}

.business__item {
  padding: 11px 0;
  list-style: none;
  border-top: 1px solid $white-dirty;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  &:last-child {
    border-bottom: 1px solid $white-dirty;
  }
}

.business__paragraph {
  margin: 0;

  @media (min-width: 768px) {
    @include font-size(22px, 28px);
  }
}

.business__btn {
  display: block;

  width: 100%;
  border: none;

  @include shape-bottom(20px);

  text-transform: uppercase;
  text-align: center;

  @include font-size(16px, 60px);
  @include font(700, normal);
  color: $blue-dark;
  background-color: $blue-light;

  @media (min-width: 768px) {
    @include font-size(24px, 108px);
  }
}
