.countries {
  position: relative;

  padding-top: 89px;
  padding-bottom: 46px;

  @include environment-white-dirty;

  @media (min-width: 768px) {
    padding-top: 128px;
    padding-bottom: 80px;
  }

  @media (min-width: 1440px) {
    padding-top: 216px;
    padding-bottom: 138px;
  }
}

.countries .container-outter {
  position: relative;

  &::before {
    display: none;

    position: absolute;
    z-index: -1;

    content: "";

    background-repeat: no-repeat;

    @media (min-width: 768px) {
      display: block;

      top: 0;
      right: 0;
      transform: translateY(7px);

      width: 288px;
      height: 574px;
      background-image: url("../img/flags-back@1x.png");
      background-size: contain;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags-back@2x.png");
      }
    }

    @media (min-width: 1440px) {
      transform: translateY(-70px);
    }
  }

  &::after {
    display: none;

    position: absolute;
    z-index: -1;

    border-radius: 20px;

    content: "";

    background-color: $white-dirty-two;

    @media (min-width: 768px) {
      display: block;

      top: 0;
      left: 0;
      transform: translateY(333px);

      width: 141px;
      height: 141px;
    }

    @media (min-width: 1440px) {
      transform: translateY(-50%);
    }
  }

  @media (min-width: 1440px) {
    display: flex;
    justify-content: flex-end;
  }
}

.countries-wrap {
  @media (min-width: 1440px) {
    margin-right: 168px;
  }
}

.countries__title-second {
  margin: 0 25px 19px;

  @media (min-width: 768px) {
    margin: 0;
    margin-bottom: 57px;
  }
}

.countries__wrap {
  margin-bottom: 28px;

  @media (min-width: 768px) {
    margin-bottom: 48px;
  }

  @media (min-width: 1440px) {
    position: absolute;
    top: 0;
    left: 70px;
  }
}

.countries__country-card:not(:last-child) {
  margin-bottom: 10px;
}

.countries__paragraph {
  margin: 0 45px 60px 25px;

  @media (min-width: 768px) {
    margin: 0;
    margin-bottom: 104px;
  }
}

.countries .paragraph {
  @media (min-width: 768px) {
    width: 350px;
  }
}
