.index {
  position: relative;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    min-width: 768px;
  }

  @media (min-width: 1440px) {
    min-width: 1440px;
  }
}

.index__about {
  z-index: 6;

  @include shape-bottom;

  @media (min-width: 768px) {
    @include shape-bottom(55px);
  }
}

.index__countries {
  z-index: 5;
  margin-top: -30px;

  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;

    @include shape-bottom(55px);
  }
}

.index__travelers {
  z-index: 4;
  margin-top: -30px;

  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;

    @include shape-bottom(55px);
  }
}

.index__advertising {
  z-index: 3;
  margin-top: -30px;

  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;

    @include shape-bottom(55px);
  }
}

.index__check-in {
  z-index: 2;
  margin-top: -30px;

  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;

    @include shape-bottom(55px);
  }
}

.index__address {
  z-index: 1;
  margin-top: -30px;

  @include shape-bottom;

  @media (min-width: 768px) {
    margin-top: -55px;

    @include shape-bottom(55px);
  }
}

.index__map {
  height: 310px;
  margin: -30px 0;
  border: none;

  background-image: url("../img/map-mobile@1x.jpg");
  background-size: cover;
  background-position: 50% 20%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    height: 574px;
    margin: -55px 0;
    background-image: url("../img/map-tablet@1x.jpg");
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: 1440px) {
    height: 504px;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.index__btn-content {
  display: block;

  position: relative;

  padding-left: 22px;
  border-radius: 10px;

  @include font-size(18px, 60px);
  @include font(700, normal);
  background-color: $yellow-low;
  color: $blue-middle;

  &::after {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);

    width: 14px;
    height: 13px;

    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;

    content: "";
  }

  &--border {
    border: 3px solid $blue-high;
  }

  @media (min-width: 768px) {
    padding-left: 32px;
    border-radius: 20px;

    @include font-size(24px, 80px);
  }

  @media (min-width: 1440px) {
    width: 275px;
  }
}
