.travelers {
  position: relative;

  padding-top: 86px;
  padding-bottom: 45px;

  @include environment-blue;

  @media (min-width: 768px) {
    padding-top: 196px;
    padding-bottom: 87px;
  }

  @media (min-width: 1440px) {
    padding-top: 189px;
    padding-bottom: 134px;
  }
}

.travelers .container-outter {
  position: relative;

  &::before {
    position: absolute;

    top: 0;
    transform: translate(-25px, 263px);
    z-index: -1;

    width: 64px;
    height: 71px;

    content: "";

    background-repeat: no-repeat;

    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-position: 180%;

    @media (min-width: 768px) {
      top: 0;
      right: 0;
      transform: translate(-35px, -61px);

      width: 285px;
      height: 285px;
      border-radius: 20px;
      background-image: url("../img/rogovaya-back-desktop@1x.png");
      background-position: unset;
    }

    @media (min-width: 1440px) {
      top: unset;
      bottom: 0;
      right: unset;
      left: 0;
      transform: translate(130px, 54px);
    }
  }

  &::after {
    position: absolute;
    z-index: -2;

    top: 0;
    left: 0;
    transform: translate(-25px, -34px);

    width: 113px;
    height: 132px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    content: "";

    background-color: $blue-middle-three;

    @media (min-width: 768px) {
      top: 0;
      left: 0;
      transform: translate(0, -70px);

      width: 212px;
      height: 212px;
      border-radius: 20px;
    }

    @media (min-width: 1440px) {
      transform: translate(0, -60px);
    }
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 428px 630px;
    grid-template-rows: 56px auto 80px;
    grid-template-areas:
      "a d"
      "b d"
      "c d";
    column-gap: 192px;

    padding-left: 70px;

    & .index__btn-content {
      grid-area: c;
    }
  }
}

.travelers__title-second {
  margin: 0 25px 19px;

  @media (min-width: 768px) {
    margin: 0;
    margin-bottom: 55px;
  }

  @media (min-width: 1440px) {
    grid-area: a;
    width: fit-content;
    margin-bottom: 60px;
  }
}

.travelers .title-second {
  @media (min-width: 1440px) {
    line-height: 36px;
  }
}

.travelers__wrap {
  position: relative;

  margin-top: 53px;
  margin-bottom: 20px;

  &::before {
    position: absolute;

    top: 0;
    right: 0;
    transform: translateY(-329px);
    z-index: -1;

    width: 143px;
    height: 143px;
    border-radius: 8px;

    content: "";

    background-repeat: no-repeat;

    background-image: url("../img/smolov-back-desktop@1x.png");

    @media (min-width: 768px) {
      top: 0;
      right: unset;
      left: 0;
      transform: translate(-34px, -97px);
    }

    @media (min-width: 1440px) {
      top: 0;
      left: 0;
      transform: translate(-200px, 0);
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 57px;
    margin-bottom: 80px;
  }

  @media (min-width: 1440px) {
    margin-top: 0;
    width: 630px;
    margin-bottom: 0;
    grid-area: d;
  }
}

.travelers__desc {
  @media (min-width: 1440px) {
    margin-top: 38px;
    grid-area: b;
  }
}

.travelers__paragraph {
  margin: 0 25px;

  @media (min-width: 768px) {
    margin: 0;
  }

  &:not(:last-child) {
    margin-bottom: 22.5px;

    @media (min-width: 768px) {
      margin-bottom: 44px;
    }

    @media (min-width: 1440px) {
      margin-bottom: 42px;
    }
  }
}

.travelers .paragraph:not(:last-of-type) {
  @media (min-width: 768px) {
    width: 427px;
  }
}

.travelers .paragraph:last-of-type {
  @media (min-width: 768px) {
    width: 260px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 82px;
  }
}

.travelers .moves__icon {
  width: 18px;
  height: 20px;
}